extends ../../layouts/master.pug

block vars
    - var pageTitle = 'Конфигуратор серверов Тринити';
    - var breadcrumbs = ['Конфигуратор серверов', 'Тринити', 'Сервер E111-M5'];
    - var serverParams = {cpu : ['1хCPU', '2хCPU', '4хCPU', '8хCPU'], fac : ['1U', '2U', '3U', '4U', '5U', 'TOWER'], ups : ['1хPS', '2хPS', '4хPS']};
    - var sliderMode = 'trinity';

    - var serverParamsJS = 'configurator: {';
    each val, key in serverParams
        - serverParamsJS += '\n' + key + ':0,';

    - serverParamsJS = serverParamsJS.replace(/,$/, '\n') + '}';

block scripts

block content
    // ### pug/pages/configurator/index.pug

    section.page__section
        include ../../components/slider

        form.configurator__holder(action='#' method="post"  @submit.prevent=" configaratorSubmit($event) ")
            include ../../components/conf_main

            include ../../components/conf_aside

            include ../../components/conf_form

            .configurator__cell
                button.btn Получить предложение

        include ../../components/warranty

        include ../../components/description

    // pug/pages/configurator/index.pug ###
