extends ../../layouts/master.pug

block vars
    - var price = false;
    - var pageTitle = 'Конфигуратор серверов Тринити';
    - var breadcrumbs = ['Конфигуратор серверов', 'Тринити', 'Сервер E111-M5'];
    - var serverParams = {cpu : ['1хCPU', '2хCPU', '4хCPU', '8хCPU'], fac : ['1U', '2U', '3U', '4U', '5U', 'TOWER'], ups : ['1хPS', '2хPS', '4хPS']};
    - var sliderMode = 'trinity';

    - var serverParamsJS = 'configurator: {';
    each val, key in serverParams
        - serverParamsJS += '\n' + key + ':0,';

    - serverParamsJS = serverParamsJS.replace(/,$/, '\n') + '}';

block scripts

block content
    // ### pug/pages/configurator/index.pug

    .brand__panel
        ul.brand__list
            - var i = 0;
            while i < (productList.length)
                li: a.brand__item(href='trinity.html' class= (i ? '' : ' active'))
                    img(src=require('media/logos/prod_' + productList[i] + '.png'))
                - i++;

    section.page__section
        .configurator__holder.__bordered
            .configurator__main
                include ../../components/slider

                .configurator__tabs()
                    section#tab_configurator.configurator__tabs-panel(:class="{ 'active': activeTab === 'configurator' }")
                        .configurator__tabs-btn.btn(:class="{ 'active': activeTab === 'configurator' }" @click="setActiveTab('configurator')") Конфигуратор
                        .configurator__tabs-inner(x-show="activeTab === 'configurator'")
                            form(action='#' method="post"  @submit.prevent=" configuratorSubmit($event) ")
                                include ../../components/conf_main

                                include ../../components/conf_form

                                .configurator__cell
                                    button.btn Получить предложение

                    section#tab_specifications.configurator__tabs-panel(:class="{ 'active': activeTab === 'specifications' }")
                        .configurator__tabs-btn.btn(:class="{ 'active': activeTab === 'specifications' }" @click="setActiveTab('specifications')") Технические характеристики
                        .configurator__tabs-inner(x-show="activeTab === 'specifications'")
                            include ../../components/conf_specifications

            .aside__holder
                include ../../components/conf_partner
                include ../../components/conf_features
                include ../../components/conf_links
                include ../../components/conf_aside

        include ../../components/warranty

        include ../../components/description

    // pug/pages/configurator/index.pug ###
