extends ../../layouts/master.pug

block vars
    - var pageTitle = 'Конфигуратор серверов Тринити';
    - var breadcrumbs = ['Конфигуратор серверов', 'Тринити', 'Сервер E111-M5'];
    - var serverParams = {cpu : ['1хCPU', '2хCPU', '4хCPU', '8хCPU'], factor : ['1U', '2U', '3U', '4U', '5U', 'TOWER'], ps : ['1хPS', '2хPS', '4хPS']};
    - var sliderMode = 'trinity';

    - var serverParamsJS = 'configurator: {';
    each val, key in serverParams
        - serverParamsJS += '\n' + key + ':0,';

    - serverParamsJS = serverParamsJS.replace(/,$/, '\n') + '}';

block scripts

block content
    // ### pug/pages/configurator/index.pug

    include ../../components/slider

    section.page__section.__pad-0
        .configurator__holder
            include ../../components/conf_main

            include ../../components/conf_aside

            include ../../components/conf_form

        include ../../components/warranty

        include ../../components/description

    // pug/pages/configurator/index.pug ###
