script.
    function siteData() {
         return {
            popupText: 'Сообщение',
            popupTitle: 'Заголовок',
            loaded: false,
            popupShow: false,
            showMainMenu: false,
            mainPopup(show, txt) {
                this.popupShow = show;
                this.popupText = txt;

                console.log('siteData togglePopup', this.popupShow, this.popupText);

            },
            openMainMenu() {
                this.showMainMenu = true
            },
            closeMainMenu() {
                this.showMainMenu = false
            },
            mainMenuIsOpen() {
                return this.showMainMenu === true
            },

            items: [{title: 'test', tags: ['ok1', 'ok2']}, {title: 'test2', tags: ['ok2']}],
            activeMenu: 0,
            toggleDropdownMenu(index, ref) {
                let that = this;

                ref && window.slideToggle(ref, 300, function (ret) {
                    console.log('ret', ret);

                    if (ret === 'up') {
                        that.activeMenu = 0;
                    } else {
                        that.activeMenu = index;
                    }
                });
            },
            toggleDropdownClass(menu, ref) {
                let list = menu.querySelectorAll('.sublist');

                for (let i = 0; i < list.length; i++) {
                    let child = list[i];

                    if (child !== ref) {
                        window.slideUp(child, 300);
                    }
                }
            },
            isActiveDropdown(index) {
                return this.activeMenu === index;
            }
        }
    }

    function slideActions() {
        return {
            slideOpen: false,
            slideToggle(evt, parent) {
                evt.preventDefault();

                let that = this;

                if (parent) {
                    let slide = parent.querySelectorAll('.slideBlock');

                    for (let i = 0; i < slide.length; i++) {
                        const sld = slide[i];

                        window.slideToggle(sld, 200, function (ret) {
                            if (ret === 'up') {
                                that.slideOpen = false;
                            } else {
                                that.slideOpen = true;
                            }
                        });
                    }
                }

                return false;
            },
            isOpen() {
                return this.slideOpen;
            },
        }
    }

    function configuratorAlpine() {
        return {
            brand: {
                "1": [
                    {
                        "id": "41",
                        "type_id": "1",
                        "brand_id": "5",
                        "name": "Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M ",
                        "short_name": "E3-1220v6",
                        "description": "Intel® Xeon® 4C/4T E3-1220v6 3000/8M, 80W, LGA1151",
                        "price": 264,
                        "base_price": "222",
                        "value": "3000",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1",
                        "core_count": 4,
                        "count": "1"
                    },
                    {
                        "id": "42",
                        "type_id": "1",
                        "brand_id": "5",
                        "name": "Intel® Xeon® 4 Core 8T E3-1230v6 3400/8M ",
                        "short_name": "E3-1230v6",
                        "description": "Intel® Xeon® 4C/8T E3-1230v6 3400/8M, 80W, LGA1151",
                        "price": 354,
                        "base_price": "288",
                        "value": "3400",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1",
                        "core_count": 4
                    },
                    {
                        "id": "43",
                        "type_id": "1",
                        "brand_id": "5",
                        "name": "Intel® Xeon® 4 Core 8T E3-1240v6 3700/8M ",
                        "short_name": "E3-1240v6",
                        "description": "Intel® Xeon® 4C/8T E3-1240v6, 3700/8M, 80W, LGA1151",
                        "price": 380,
                        "base_price": "310",
                        "value": "3700",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1",
                        "core_count": 4
                    },
                    {
                        "id": "44",
                        "type_id": "1",
                        "brand_id": "5",
                        "name": "Intel® Xeon® 4 Core 8T E3-1270v6 3800/8M",
                        "short_name": "E3-1270v6",
                        "description": "Intel® Xeon® 4C/8T E3-1270v6 3800/8M, 72W, LGA1151 ",
                        "price": 458,
                        "base_price": "373",
                        "value": "3800",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1",
                        "core_count": 4
                    },
                    {
                        "id": "1334",
                        "type_id": "1",
                        "brand_id": "5",
                        "name": "Intel® Xeon® 4 Core 4T E3-1225v6 3700/8M ",
                        "short_name": "E3-1225v6",
                        "description": "Intel® Xeon® 4C/4T E3-1225v6 3700/8M, 73W, LGA1151",
                        "price": 295,
                        "base_price": "245",
                        "value": "3700",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1",
                        "core_count": 4
                    },
                    {
                        "id": "888",
                        "type_id": "1",
                        "brand_id": "5",
                        "name": "Intel® Xeon® 4 Core 8T E3-1280v6 3900/8M",
                        "short_name": "E3-1280v6",
                        "description": "Intel® Xeon® 4C/8T E3-1280v6 3900/8M, 72W, LGA1151 ",
                        "price": 543,
                        "base_price": "449",
                        "value": "3900",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1",
                        "core_count": 4
                    },
                    {
                        "id": "1336",
                        "type_id": "1",
                        "brand_id": "5",
                        "name": "Intel® Xeon® 4 Core 8T E3-1245v6 3700/8M ",
                        "short_name": "E3-1245v6",
                        "description": "Intel® Xeon® 4C/8T E3-1245v6 3700/8M, 73W, LGA1151",
                        "price": 387,
                        "base_price": "326",
                        "value": "3700",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1",
                        "core_count": 4
                    }
                ],
                "2": [
                    {
                        "id": "28",
                        "type_id": "2",
                        "brand_id": "5",
                        "name": "4GB, DDR4, 2400 MHz, PC4-17000, ECC, Unbuffered ",
                        "short_name": "",
                        "description": "",
                        "price": 59,
                        "base_price": "40",
                        "value": "4",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "29",
                        "type_id": "2",
                        "brand_id": "5",
                        "name": "8GB, DDR4, 2666 MHz, PC4-17000, ECC, Unbuffered ",
                        "short_name": "",
                        "description": "",
                        "price": 66,
                        "base_price": "70",
                        "value": "8",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "890",
                        "type_id": "2",
                        "brand_id": "5",
                        "name": "16GB, DDR4, 2666 MHz, PC4-17000, ECC, Unbuffered ",
                        "short_name": "",
                        "description": "",
                        "price": 107,
                        "base_price": "135",
                        "value": "16",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    }
                ],
                "3": [
                    {
                        "id": "89",
                        "type_id": "3",
                        "brand_id": "5",
                        "name": "240GB, Read Intensive",
                        "short_name": "",
                        "description": "SSD 240GB, Read Intensive",
                        "price": 126,
                        "base_price": "140",
                        "value": "240",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "90",
                        "type_id": "3",
                        "brand_id": "5",
                        "name": "480GB, Read Intensive",
                        "short_name": "",
                        "description": "SSD 480GB, Read Intensive",
                        "price": 168,
                        "base_price": "0",
                        "value": "480",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "616",
                        "type_id": "3",
                        "brand_id": "5",
                        "name": "1920GB, Read Intensive",
                        "short_name": "",
                        "description": "SSD 1920GB, Read Intensive",
                        "price": 540,
                        "base_price": "810",
                        "value": "1920",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "920",
                        "type_id": "3",
                        "brand_id": "5",
                        "name": "960GB, Read Intensive",
                        "short_name": "",
                        "description": "SSD 960GB, Read Intensive",
                        "price": 266,
                        "base_price": "0",
                        "value": "960",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "826",
                        "type_id": "3",
                        "brand_id": "5",
                        "name": "240GB, Mid Load",
                        "short_name": "",
                        "description": "SSD 240GB, Mid Load",
                        "price": 130,
                        "base_price": "165",
                        "value": "240",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "830",
                        "type_id": "3",
                        "brand_id": "5",
                        "name": "480GB, Mid Load",
                        "short_name": "",
                        "description": "SSD 480GB, Mid Load",
                        "price": 197,
                        "base_price": "0",
                        "value": "480",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "832",
                        "type_id": "3",
                        "brand_id": "5",
                        "name": "960GB, Mid Load",
                        "short_name": "",
                        "description": "SSD 960GB, Mid Load",
                        "price": 378,
                        "base_price": "0",
                        "value": "960",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "836",
                        "type_id": "3",
                        "brand_id": "5",
                        "name": "1920GB, Mid Load",
                        "short_name": "",
                        "description": "SSD 1920GB, Mid Load",
                        "price": 671,
                        "base_price": "0",
                        "value": "1920",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    }
                ],
                "4": [
                    {
                        "id": "35",
                        "type_id": "4",
                        "brand_id": "5",
                        "name": "1TB, 7200rpm, SATA, Enterprise",
                        "short_name": "",
                        "description": "",
                        "price": 99,
                        "base_price": "85",
                        "value": "1",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "36",
                        "type_id": "4",
                        "brand_id": "5",
                        "name": "2TB, 7200rpm, SATA, Enterprise",
                        "short_name": "",
                        "description": "",
                        "price": 130,
                        "base_price": "150",
                        "value": "2",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "461",
                        "type_id": "4",
                        "brand_id": "5",
                        "name": "6TB, 7200rpm, SATA, Enterprise",
                        "short_name": "",
                        "description": "",
                        "price": 232,
                        "base_price": "362",
                        "value": "6",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "105",
                        "type_id": "4",
                        "brand_id": "5",
                        "name": "4TB, 7200rpm, SATA, Enterprise",
                        "short_name": "",
                        "description": "",
                        "price": 183,
                        "base_price": "272",
                        "value": "4",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "1332",
                        "type_id": "4",
                        "brand_id": "5",
                        "name": "10TB, 7200rpm, SATA, Enterprise",
                        "short_name": "",
                        "description": "",
                        "price": 354,
                        "base_price": "0",
                        "value": "10",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "858",
                        "type_id": "4",
                        "brand_id": "5",
                        "name": "8TB, 7200rpm, SATA, Enterprise",
                        "short_name": "",
                        "description": "",
                        "price": 307,
                        "base_price": "0",
                        "value": "8",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "1342",
                        "type_id": "4",
                        "brand_id": "5",
                        "name": "12TB, 7200rpm, SATA, Enterprise",
                        "short_name": "",
                        "description": "",
                        "price": 366,
                        "base_price": "420",
                        "value": "12",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    }
                ],
                "5": [
                    {
                        "id": "17",
                        "type_id": "5",
                        "brand_id": "5",
                        "name": "300GB, 2.5\", 10000rpm, SAS",
                        "short_name": "",
                        "description": "",
                        "price": 127,
                        "base_price": "160",
                        "value": "300",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "102",
                        "type_id": "5",
                        "brand_id": "5",
                        "name": "900GB, 2.5\", 10000rpm, SAS",
                        "short_name": "",
                        "description": "900GB, 2.5\", 10000rpm, SAS",
                        "price": 254,
                        "base_price": "305",
                        "value": "900",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "33",
                        "type_id": "5",
                        "brand_id": "5",
                        "name": "600GB, 2.5\", 10000rpm, SAS",
                        "short_name": "",
                        "description": "",
                        "price": 215,
                        "base_price": "245",
                        "value": "600",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "602",
                        "type_id": "5",
                        "brand_id": "5",
                        "name": "1200GB, 2.5\", 10000rpm, SAS",
                        "short_name": "",
                        "description": "1200GB, 2.5\", 10000rpm, SAS",
                        "price": 257,
                        "base_price": "450",
                        "value": "1200",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "862",
                        "type_id": "5",
                        "brand_id": "5",
                        "name": "1800GB, 2.5\", 10000rpm, SAS",
                        "short_name": "",
                        "description": "",
                        "price": 353,
                        "base_price": "0",
                        "value": "1800",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "0"
                    },
                    {
                        "id": "864",
                        "type_id": "5",
                        "brand_id": "5",
                        "name": "300GB, 2.5\", 15000rpm, SAS",
                        "short_name": "",
                        "description": "",
                        "price": 209,
                        "base_price": "0",
                        "value": "300",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "0"
                    },
                    {
                        "id": "866",
                        "type_id": "5",
                        "brand_id": "5",
                        "name": "600GB, 2.5\", 15000rpm, SAS",
                        "short_name": "",
                        "description": "",
                        "price": 289,
                        "base_price": "0",
                        "value": "600",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "0"
                    },
                    {
                        "id": "1464",
                        "type_id": "5",
                        "brand_id": "5",
                        "name": "2400GB, 2.5\", 10000rpm, SAS",
                        "short_name": "",
                        "description": "",
                        "price": 454,
                        "base_price": "0",
                        "value": "2400",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "0"
                    }
                ],
                "7": [
                    {
                        "id": "457",
                        "type_id": "7",
                        "brand_id": "5",
                        "name": "Adaptec RAID 8405 (4port SAS3, 1GB)",
                        "short_name": "",
                        "description": "",
                        "price": 454,
                        "base_price": "430",
                        "value": "4",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "467",
                        "type_id": "7",
                        "brand_id": "5",
                        "name": "LSI MegaRAID SAS 9361-4i (4port SAS3, 1GB)",
                        "short_name": "",
                        "description": "LSI MegaRAID SAS 9361-4i (4port SAS3, 1GB)",
                        "price": 484,
                        "base_price": "460",
                        "value": "4",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "471",
                        "type_id": "7",
                        "brand_id": "5",
                        "name": "LSI MegaRAID SAS 9341-4i (4port SAS3, no cache)",
                        "short_name": "",
                        "description": "LSI MegaRAID SAS 9341-4i (4port SAS3, no cache)",
                        "price": 242,
                        "base_price": "225",
                        "value": "4",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    }
                ],
                "8": [
                    {
                        "id": "86",
                        "type_id": "8",
                        "brand_id": "5",
                        "name": "Контроллер FibreChannel, 2 x 8 Gbit, Dual port, Qlogic",
                        "short_name": "",
                        "description": "",
                        "price": 588,
                        "base_price": "1295",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "59",
                        "type_id": "8",
                        "brand_id": "5",
                        "name": "Контроллер FibreChannel, 8 Gbit, Single port, Qlogic",
                        "short_name": "",
                        "description": "",
                        "price": 425,
                        "base_price": "920",
                        "value": "8",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "84",
                        "type_id": "8",
                        "brand_id": "5",
                        "name": "Контроллер Ethernet, Dual port Gigabit, Intel",
                        "short_name": "",
                        "description": "",
                        "price": 142,
                        "base_price": "140",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "85",
                        "type_id": "8",
                        "brand_id": "5",
                        "name": "Контроллер Ethernet, Quad port, Intel",
                        "short_name": "",
                        "description": "",
                        "price": 260,
                        "base_price": "310",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "463",
                        "type_id": "8",
                        "brand_id": "5",
                        "name": "Контроллер Ethernet, Dual port 10G, RJ-45, Intel",
                        "short_name": "",
                        "description": "",
                        "price": 395,
                        "base_price": "0",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "465",
                        "type_id": "8",
                        "brand_id": "5",
                        "name": "Контроллер Ethernet, Dual port 10G, SFP+, Intel",
                        "short_name": "",
                        "description": "",
                        "price": 242,
                        "base_price": "0",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    }
                ],
                "10": [
                    {
                        "id": "1294",
                        "type_id": "10",
                        "brand_id": "5",
                        "name": "Предустановка Windows Server 2019 Std Rus, 16 core",
                        "short_name": "",
                        "description": "",
                        "price": 863,
                        "base_price": "700",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "0"
                    },
                    {
                        "id": "1330",
                        "type_id": "10",
                        "brand_id": "5",
                        "name": "Предустановка Windows Server 2019 Std Rus, 24 core",
                        "short_name": "",
                        "description": "",
                        "price": 1281,
                        "base_price": "970",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "0"
                    }
                ],
                "11": [
                    {
                        "id": "16",
                        "type_id": "11",
                        "brand_id": "5",
                        "name": "Slim DVD±RW",
                        "short_name": "",
                        "description": "",
                        "price": 18,
                        "base_price": "38",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "13",
                        "type_id": "11",
                        "brand_id": "5",
                        "name": "Батарейка RAID",
                        "short_name": "",
                        "description": "",
                        "price": 209,
                        "base_price": "175",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    }
                ],
                "36": [
                    {
                        "id": "880",
                        "type_id": "36",
                        "brand_id": "22",
                        "name": "APC Smart-UPS RT мощностью 1000VA",
                        "short_name": "",
                        "description": "",
                        "price": 1098,
                        "base_price": "0",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "0"
                    },
                    {
                        "id": "882",
                        "type_id": "36",
                        "brand_id": "22",
                        "name": "APC Smart-UPS RT мощностью 2200VA",
                        "short_name": "",
                        "description": "",
                        "price": 1990,
                        "base_price": "0",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "0"
                    },
                    {
                        "id": "884",
                        "type_id": "36",
                        "brand_id": "22",
                        "name": "APC Smart-UPS RT мощностью 3000VA с двойным преобразованием",
                        "short_name": "",
                        "description": "",
                        "price": 3208,
                        "base_price": "0",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "0"
                    }
                ],
                "47": [
                    {
                        "id": "894",
                        "type_id": "47",
                        "brand_id": "0",
                        "name": "Расширенная гарантия 3 года с выездом (ONS3)",
                        "short_name": "ONS3",
                        "description": "<b>Выездная трехлетняя гарантия: </b>  <ul>   <li>срок гарантийного обслуживания 3 года;</li>   <li>восстановление работоспособности по месту эксплуатации изделия (г. Москва, г. Санкт-Петербург, Московская и Ленинградская область в радиусе до 20 км от МКАД / КАД);</li>   <li>скорость обработки заявки - 4 рабочих часа;</li>   <li>выезд тех. специалиста - на следующий рабочий день;</li>   <li>срок восстановления работоспособности - 5 рабочих дней;</li>   <li>бесплатная консультация специалиста по вопросам восстановления работоспособности изделия.</li>  </ul>",
                        "price": 0,
                        "base_price": "0",
                        "value": "7",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "900",
                        "type_id": "47",
                        "brand_id": "0",
                        "name": "Дополнительная опция «Невозврат носителей информации» (NR3)",
                        "short_name": "NR3",
                        "description": "<b>Опция «Невозврат носителя»</b><p>Для защиты конфиденциальных данных предоставляется возможность невозврата накопителей информации (жестких дисков, твердотельных накопителей). Покупатель обязан предоставить в Тринити документ об утилизации, указав заводской серийный номер производителя комплектующей, и фотографию приведённого в неработоспособное состояние накопителя.</p><p>Срок гарантийного обслуживания 3 года.</p>",
                        "price": 0,
                        "base_price": "0",
                        "value": "12",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    }
                ],
                "52": [
                    {
                        "id": "1236",
                        "type_id": "52",
                        "brand_id": "20",
                        "name": "Zyxel XS1920-12, 10x10G Copper, 2xCombo 10G (SFP/RJ-45)",
                        "short_name": "",
                        "description": "",
                        "price": 1169,
                        "base_price": "1169",
                        "value": "3",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "1238",
                        "type_id": "52",
                        "brand_id": "20",
                        "name": "Zyxel XGS2210-28, 24xGE, 4xSFP+, стекируемый (до 2)",
                        "short_name": "",
                        "description": "",
                        "price": 786,
                        "base_price": "786",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "1240",
                        "type_id": "52",
                        "brand_id": "20",
                        "name": "Zyxel XGS2210-52, 48xGE, 4xSFP+, стекируемый (до 2)",
                        "short_name": "",
                        "description": "",
                        "price": 1572,
                        "base_price": "1572",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "1242",
                        "type_id": "52",
                        "brand_id": "20",
                        "name": "Zyxel XGS3700-48, 48xGE, 4xSFP+, стекируемый (до 8)",
                        "short_name": "",
                        "description": "",
                        "price": 2227,
                        "base_price": "2227",
                        "value": "4",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "1244",
                        "type_id": "52",
                        "brand_id": "20",
                        "name": "Zyxel XS3700-24, 8x10G Copper , 4xCombo 10G (SFP/RJ-45), 12xSFP+",
                        "short_name": "",
                        "description": "",
                        "price": 4312,
                        "base_price": "4312",
                        "value": "6",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "1246",
                        "type_id": "52",
                        "brand_id": "20",
                        "name": "Zyxel XGS4600-52F, 48xSFP, 4xSFP+, 2 БП AC",
                        "short_name": "",
                        "description": "",
                        "price": 3405,
                        "base_price": "3405",
                        "value": "5",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "1322",
                        "type_id": "52",
                        "brand_id": "7",
                        "name": "Cisco WS-C2960RX-24PS-L Catalyst PoE+ (370W)  24 x GE RJ-45, 4 x SFP, LAN Base ",
                        "short_name": "",
                        "description": "",
                        "price": 2415,
                        "base_price": "2415",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "1324",
                        "type_id": "52",
                        "brand_id": "7",
                        "name": "Cisco WS-C2960RX-24TS-L Catalyst  24 x GE RJ-45, 4 x SFP, LAN Base ",
                        "short_name": "",
                        "description": "",
                        "price": 1810,
                        "base_price": "1810",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "1326",
                        "type_id": "52",
                        "brand_id": "7",
                        "name": "Cisco WS-C3850R-24T-S Catalyst 24 x GE RJ-45, БП 350W, 1RU, IP Base",
                        "short_name": "",
                        "description": "",
                        "price": 5012,
                        "base_price": "5012",
                        "value": "0",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    },
                    {
                        "id": "1328",
                        "type_id": "52",
                        "brand_id": "7",
                        "name": "Cisco WS-C3850R-48T-S Catalyst 48 x GE RJ-45, БП 350W, 1RU, IP Base ",
                        "short_name": "",
                        "description": "",
                        "price": 8868,
                        "base_price": "8868",
                        "value": "10",
                        "is_composite": "0",
                        "is_enabled": "1",
                        "simple_mode": "1"
                    }
                ]
            },
            configurator: {
                cpu: [],
                fac: [],
                ups: []
            },
            preset: {
                totalDescription: '0',
                exchangeRate: 75,
                totalPrice: 0,
                totalPriceD: 0,
                totalPriceR: 0,
                CPU: {
                    id: '',
                    count: ''
                },
                RAM: {
                    id: '',
                    count: ''
                },
                SSD: {
                    list: [
                        {
                            id: '',
                            count: ''
                        }
                    ]
                },
                SATA: {
                    list: [
                        {
                            id: '',
                            count: ''
                        }
                    ]
                },
                SATA_0: {
                    id: '',
                    count: ''
                },
                SAS: {
                    list: [
                        {
                            id: '',
                            count: ''
                        }
                    ]
                },
                DVD: {
                    id: '',
                    count: ''
                },
                RAID: {
                    id: '',
                    count: '1'
                },
                OtherContr: {
                    id: '',
                    count: '1'
                },
                SP: {
                    id: '',
                    count: ''
                },
                Soft: {
                    id: '',
                    count: '1'
                },
                Other: {
                    id: '',
                    count: '1'
                },
                UPS: {
                    id: '',
                    count: '1'
                },
                Services: {
                    id: '',
                    count: '1'
                },
                GPU: {
                    id: '',
                    count: ''
                },
                Switch: {
                    id: '',
                    count: '1'
                },
                Cache: {
                    id: '',
                    count: ''
                }
            },
            brand__: {
                config: {
                    parts: []
                }
            },
            counts: {
                "3": "4",
                "4": "4",
                "5": "4",
                "10": "1",
                "11": "4"
            },
            partTypeIds: {
                CPU: 1,
                RAM: 2,
                SSD: 3,
                SATA: 4,
                SAS: 5,
                DVD: 6,
                RAID: 7,
                OtherContr: 8,
                SP: 9,
                Soft: 10,
                Other: 11,
                UPS: 36,
                Services: 47,
                GPU: 50,
                Switch: 52,
                Cache: 54
            },
            selectOptionO: {
                au: 'Australia',
                be: 'Belgium',
                cn: 'China',
                fr: 'France',
                de: 'Germany',
                it: 'Italy',
                mx: 'Mexico',
                es: 'Spain',
                tr: 'Turkey',
                gb: 'United Kingdom',
                us: 'United States'
            },
            updateTimer: 0,
            switchParam(evt, prm, ind) {
                evt.preventDefault();
                this.configurator[prm] = ind;

                return false;
            },
            toggleParam(evt, prm, name) {
                evt.preventDefault();

                var pos = this.configurator[prm].indexOf(name);

                if (pos > -1) {
                    this.configurator[prm].splice(pos, 1)
                } else {
                    this.configurator[prm].push(name)
                }

                return false;
            },
            getCheck(index, item, prm) {
                return '<label class="checkbox_v2"><input type="checkbox" value="3" :checked="{ activeParam(\'' + prm + '\', ' + (index + 1) + ') }"><span class="checkbox__text">' + item + '</span></label>'
            },
            getLink(index, item, prm) {
                return '<a class="switcher__link" href="#" @click="{ switchParam($event, \'' + prm + '\', ' + (index + 1) + ') }" :class="{ active: ' + (index + 1) + ' === activeParam(\'' + prm + '\') }">' + item + '</a>'
            },
            activeParam(prm, name) {
                return this.configurator[prm].indexOf(name) > -1
            },
            checkVisibility(cpu, fac, ups) {
                let ret = true;

                if (this.configurator.cpu.length && this.configurator.cpu.indexOf(cpu) < 0) {
                    ret = false;
                }

                if (this.configurator.fac.length && this.configurator.fac.indexOf(fac) < 0) {
                    ret = false;
                }

                if (this.configurator.ups.length && this.configurator.ups.indexOf(ups) < 0) {
                    ret = false;
                }

                return ret
            },
            availableParam(prm) {
                let find = [];
                let slug = {cpu: 'xCPU', fac: '', ups: 'xPS'};

                for (const x of brand.config.parts) {
                    let check = (x[prm] + slug[prm]).toUpperCase();

                    if (find.indexOf(check) === -1) {
                        find.push(check)

                        this.configurator[prm].push(x[prm])
                    }
                }

                return find
            },
            getInfo(ty, id) {
                let ret = {description: '', price: ''};
                let arr = this.brand[this.partTypeIds[ty] + ''];


                for (let i = 0; i < arr.length; i++) {
                    let a = arr[i];

                    if (a.id + '' === id + '') {
                        ret = {description: a.description, price: a.price};
                    }
                }

                console.log('getInfo', arr, ty, id, ret);

                return ret;
            },
            pricePrint(val) {
                let rx = /\d{1,3}(?=(\d{3})+(?!\d))/g;
                return (val + '').replace(rx, '$& ')
            },
            updatePreset(num, evt, parent) {
                console.log('updatePreset', num);

                //return;

                let price = 0;
                let descr = '';

                for (typeId in this.partTypeIds) {
                    let item = this.preset[typeId];

                    console.log('typeId', typeId, 'list' in item, item);

                    if ('list' in item) {
                        let keys = Object.keys(item.list);

                        console.log('list', keys);

                        for (let i = 0; i < keys.length; i++) {
                            let a = item.list[keys[i]];
                            let info = this.getInfo(typeId, a.id);

                            console.log('info', a, info);

                            descr += ' / ' + info.name;
                            price += (num !== void 0 ? num : (a.count || 0)) * info.price;
                        }

                    } else if (item.id) {
                        let info = this.getInfo(typeId, item.id);

                        console.log('info', item, info);

                        descr += ' / ' + info.name;
                        price += (num !== void 0 ? num : (item.count || 0)) * info.price;
                    }
                }

                this.preset.totalDescription = descr.trim().replace(/^\//, '');
                this.preset.totalPrice = price;
                this.preset.totalPriceR = this.pricePrint(this.preset.exchangeRate * this.preset.totalPrice);
                this.preset.totalPriceD = this.pricePrint(this.preset.totalPrice);

                if (evt) {
                    console.log('after', evt.target, parent);
                }
            },
            updateSelect(type, num) {
                clearTimeout(this.updateTimer);
                this.preset[type].count = num !== void 0 ? num : this.counts[type] || 1;

                this.updateTimer = setTimeout(function () {
                    let id = 'preset_' + type + '_count';

                    console.log('updateSelect', id, num);

                    let sel = document.getElementById(id);

                    console.log(id, window.cstSel, sel);

                    if (id in window.cstSel) {
                        for (let i = 0; i < window.cstSel[id].panel.children.length; i++) {
                            window.cstSel[id].panel.removeChild(window.cstSel[id].panel.children[i])
                        }

                        window.cstSel[id].append(sel.options);
                    }
                }, 100);
            },
            selectModel(typeId) {
                //this.offer[typeId] = ''

                return this.offer[typeId];
            },
            selectOption(typeId) {
                let ret = {};
                let typeCode = this.partTypeIds[typeId];

                //console.log('count', count);

                for (const x of this.brand[typeCode]) {
                    ret[x.id] = x.name;
                }

                console.log('selectOption', typeId, ret);

                return ret
            },
            optionsList(typeId, count) {
                let ret = [];
                let typeCode = this.partTypeIds[typeId];

                //console.log('count', count);

                for (const x of this.brand[typeCode]) {
                    ret.push({
                        id: x.id,
                        isDelete: true,
                        count: x.count || this.counts[typeCode] || 1,
                        text: x.name
                    });
                }

                return ret
            },
            updateInput(inp) {
                console.log('updateInput js', inp);
            },
            optionsCount(typeId) {
                let ret = [];
                let typeCode = this.partTypeIds[typeId];
                let id = '';
                let count = 0;

                if (typeof this.preset[typeId].id === 'string') {
                    id += this.preset[typeId].id
                } else {
                    id += this.preset[typeId].list[0].id
                }

                for (const x of this.brand[typeCode]) {
                    if (id = x.id + '') {
                        count = x.count || this.counts[typeCode] || 1;
                        break;
                    }
                }

                if (count) {
                    for (let i = 0; i < +count; i++) {
                        //console.log('push', i, count);
                        ret.push(i + 1);
                    }
                }

                return ret
            },
            selectOptionCount(typeId) {
                let ret = {};
                let typeCode = this.partTypeIds[typeId];
                let id = '';
                let count = 0;

                if (typeof this.preset[typeId].id === 'string') {
                    id += this.preset[typeId].id
                } else {
                    id += this.preset[typeId].list[0].id
                }

                for (const x of this.brand[typeCode]) {
                    if (id = x.id + '') {
                        count = x.count || this.counts[typeCode] || 1;
                        break;
                    }
                }

                if (count) {
                    for (let i = 0; i < +count; i++) {
                        //console.log('push', i, count);
                        ret[(i + 1)] = i + 1;
                    }
                }

                return ret
            },
            getHDD(typeId) {
                let ret = (this.preset[typeId].list);

                //let optionList = unlinkObj(this.optionsList(typeId, 1));

                //ret = unlinkObj(ret);

                //for (let i = 0; i < ret.length; i++) {
                //    let r = ret[i];
                //    r.optionList = optionList;
                //}

                //let keys = Object.keys(ret);
                //
                //for (let i = 0; i < keys.length; i++) {
                //    let x = ret[keys[i]];
                //
                //    x.optionList = optionList;
                //}

                console.log('getHDD', typeId, ret, this.optionsList(typeId, 1));

                return ret;
            },
            controlsCount(typeId) {
                let ret = [];
                let typeCode = this.partTypeIds[typeId];
                let arr = this.preset[typeId].list;

                for (let i = 0; i < arr.length; i++) {
                    let obj = {optionsList: []};

                    //obj.optionsList = this.optionsList(typeId, 1);

                    ret.push(this.optionsList(typeId, 1));
                }

                console.log('controlsCount', this.brand[typeCode], ret);

                return ret
            },
            init() {
                this.loaded = true;
                //this.preset = {
                //    totalDescription: '0',
                //    exchangeRate: 75,
                //    totalPrice: 0,
                //    totalPriceD: 0,
                //    totalPriceR: 0,
                //    CPU: {
                //        id: '',
                //        count: ''
                //    },
                //    RAM: {
                //        id: '',
                //        count: ''
                //    },
                //    SSD: {
                //        list: [{
                //            id: '1',
                //            count: '1',
                //            selected: false
                //        }]
                //    },
                //    SATA: {
                //        list: [{
                //            id: '2',
                //            count: '2',
                //            selected: false
                //        }]
                //    },
                //    SAS: {
                //        list: [{
                //            id: '3',
                //            count: '3',
                //            selected: false
                //        }]
                //    },
                //    DVD: {
                //        id: '',
                //        count: ''
                //    },
                //    RAID: {
                //        id: '',
                //        count: ''
                //    },
                //    OtherContr: {
                //        id: '',
                //        count: ''
                //    },
                //    SP: {
                //        id: '',
                //        count: ''
                //    },
                //    Soft: {
                //        id: '',
                //        count: ''
                //    },
                //    Other: {
                //        id: '',
                //        count: ''
                //    },
                //    UPS: {
                //        id: '',
                //        count: ''
                //    },
                //    Services: {
                //        id: '',
                //        count: ''
                //    },
                //    GPU: {
                //        id: '',
                //        count: ''
                //    },
                //    Switch: {
                //        id: '',
                //        count: ''
                //    },
                //    Cache: {
                //        id: '',
                //        count: ''
                //    }
                //};

                console.log('loaded', this.loaded);

                //let that = this;
                //fetch('/source/data/filter.json')
                //    .then(function (response) {
                //        return response.json()
                //    })
                //    .then(function (response) {
                //        console.log('fetched', response);
                //        that.brand = response;
                //    });
            }
        }
    }

    function getInitialData(el) {
        console.log('getInitialData', el);
        let dataString = el.getAttribute('x-data');
        return eval(`(${dataString})`);
    }
    function removeItem(show, el) {
        console.log('removeItem', show, el);
    }

    function initSelects() {
        setTimeout(function () {
            let slcts = document.getElementsByClassName('initSelect');

            console.log('slcts', slcts);

            for (let i = 0; i < slcts.length; i++) {
                window.CS(slcts[i]);
            }
        },1000)
    }

    function unlinkObj(obj) {
        return JSON.parse(JSON.stringify(obj));
    }

    function togglePopup(show, txt) {
        let root = document.getElementsByTagName('body')[0];
        document.getElementById('popup_thanks').classList[show ? 'remove' : 'add']('hide');
    }

    function configaratorSubmit(frm) {
        let that = this;
        let formData = serializeForm(frm.target);

        fetch('./source/data/brand.json', {
            method: 'GET', // POST
            headers: {
                'Content-Type': 'application/json'
            },
            //body: JSON.stringify(formData)
        })
        .then(function () {
            return JSON.parse(JSON.stringify(formData));
        })
        .then(function(result) {
          console.log('Success:', result, siteData());

          togglePopup(true, 'Данные отправлены');
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
    }

    function alpineSelect(config) {
        return {
            data: config.data,
            allData: config.allData,
            emptyOptionsMessage: config.emptyOptionsMessage || 'No results match your search.',
            focusedOptionIndex: null,
            name: config.name,
            model: config.model,
            open: false,
            options: {},
            placeholder: config.placeholder || 'Select an option',
            search: '',
            value: config.value,
            closeListbox: function () {
                this.open = false;
                this.focusedOptionIndex = null;
                this.search = '';
            },
            focusNextOption: function () {
                if (this.focusedObjectIndex === null) return this.focusedObjectIndex = Object.keys(this.options).length - 1;
                if (this.focusedOptionIndex + 1 >= Object.keys(this.options).length) return;
                this.focusedOptionIndex++;

                //if (this.focusedOptionIndex in this.$refs.listbox.children) {
                //    this.$refs.listbox.children[this.focusedOptionIndex].scrollIntoView({
                //        block: "center",
                //    });
                //}
            },
            focusPreviousOption: function () {
                if (this.focusedObjectIndex === null) return this.focusedObjectIndex = 0;
                if (this.focusedOptionIndex <= 0) return;
                this.focusedOptionIndex--;

                //if (this.focusedOptionIndex in this.$refs.listbox.children) {
                //    this.$refs.listbox.children[this.focusedOptionIndex].scrollIntoView({
                //        block: "center",
                //    });
                //}
            },
            init: function () {
                let that = this;
                that.options = that.data;

                console.log('that.data', typeof that.data === 'function');

                if (typeof that.data === 'function') {
                    that.options = that.data();
                }

                if (!(that.value in that.options)) {
                    that.value = null;
                }

                that.$watch('search', (function (value) {
                    let find = that.data

                    if (typeof that.data === 'function') {
                        find = that.data();
                    }

                    if (!that.open || !value) {
                        return that.options = find;
                    }

                    that.options = Object.keys(find)
                        .filter(function (key) {
                            return (find[key] + '').toLowerCase().includes((value + '').toLowerCase())
                        })
                        .reduce(function (options, key) {
                            options[key] = find[key];
                            console.log('options', options);
                            return options
                        }, {})
                }));
            },
            selectOption: function () {
                let that = this;
                if (!that.open) return that.toggleListboxVisibility();
                that.value = Object.keys(that.options)[that.focusedOptionIndex];
                that.closeListbox();

                let ds = that.$el.parentNode.dataset;
                let inp = document.querySelector('input[data-preset="' + ds.preset + '"][data-index="' + ds.index + '"]')

                inp.value = that.value;

                console.log('update', that.value);

                setTimeout(function () {
                    if ("createEvent" in document) {
                        let evt = document.createEvent("HTMLEvents");
                        evt.initEvent("input", false, true);
                        inp.dispatchEvent(evt);
                        console.log('new val dispatchEvent', that.value, inp.value);
                    } else {
                        inp.fireEvent("oninput");
                        console.log('new val onchange', that.value, inp.value);
                    }
                }, 1);
            },
            toggleListboxVisibility: function () {
                let that = this;
                if (this.open) {
                    return this.closeListbox();
                }
                this.focusedOptionIndex = Object.keys(this.options).indexOf(this.value);
                if (this.focusedOptionIndex < 0) {
                    this.focusedOptionIndex = 0;
                }
                this.open = true;
                this.$nextTick(function () {
                    that.$refs.search.focus();
                    //that.$refs.listbox.children[that.focusedOptionIndex].scrollIntoView({
                    //    block: "nearest"
                    //});
                });
            },
        }
    }
