script.
    function siteData() {
        return {
            showMainMenu: false,
            openMainMenu() {
                this.showMainMenu = true
            },
            closeMainMenu() {
                this.showMainMenu = false
            },
            mainMenuIsOpen() {
                return this.showMainMenu === true
            },

            activeMenu: 0,
            toggleDropdownMenu(index, ref) {
                let that = this;

                ref && window.slideToggle(ref, 300, function (ret) {
                    console.log('ret', ret);

                    if (ret === 'up') {
                        that.activeMenu = 0;
                    } else {
                        that.activeMenu = index;
                    }
                });
            },
            toggleDropdownClass(menu, ref) {
                let list = menu.querySelectorAll('.sublist');

                for (let i = 0; i < list.length; i++) {
                    let child = list[i];

                    if (child !== ref) {
                        window.slideUp(child, 300);
                    }
                }
            },
            isActiveDropdown(index) {
                return this.activeMenu === index;
            }
        }
    }

    function slideActions() {
        return {
            slideOpen: false,
            slideToggle(evt, parent) {
                evt.preventDefault();

                let that = this;

                if (parent) {
                    let slide = parent.querySelectorAll('.slideBlock');

                    for (let i = 0; i < slide.length; i++) {
                        const sld = slide[i];

                        window.slideToggle(sld, 200, function (ret) {
                            if (ret === 'up') {
                                that.slideOpen = false;
                            } else {
                                that.slideOpen = true;
                            }
                        });
                    }
                }

                return false;
            },
            isOpen() {
                return this.slideOpen;
            },
        }
    }

    function configuratorAlpine() {
        return {
            configurator: {
                cpu: 0,
                fac: 0,
                ups: 0
            },
            switchParam(evt, prm, ind) {
                console.log('this.configurator', this.configurator);

                evt.preventDefault();
                this.configurator[prm] = ind;
                return false;
            },
            activeParam(prm) {
                console.log('this.configurator', this.configurator);

                return this.configurator[prm]
            },
            availableParam(prm) {
                for (const x of brand.configs) {
                    console.log('x', x);
                }

                return this.configurator[prm]
            },
            getCategory(cat) {

                for (const x of brand.configs) {

                }

                return this.configurator[prm]
            }
        }
    }

    var brand = {
        "configs": [
            {
                "cpu": 1,
                "factor": "u1",
                "ps": 0,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u1",
                            "u2",
                            "u4",
                            "tower"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 1,
                "factor": "u1",
                "ps": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u1",
                            "u2",
                            "u3",
                            "u4"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 1,
                "factor": "u2",
                "ps": 0,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u1",
                            "u2",
                            "u4",
                            "tower"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 1,
                "factor": "u2",
                "ps": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u1",
                            "u2",
                            "u3",
                            "u4"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 1,
                "factor": "u3",
                "ps": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u1",
                            "u2",
                            "u3",
                            "u4"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 1,
                "factor": "u4",
                "ps": 0,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u1",
                            "u2",
                            "u4",
                            "tower"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 1,
                "factor": "u4",
                "ps": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2,
                            4
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u1",
                            "u2",
                            "u3",
                            "u4"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 1,
                "factor": "tower",
                "ps": 0,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u1",
                            "u2",
                            "u4",
                            "tower"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            0
                        ]
                    }
                ]
            },
            {
                "cpu": 2,
                "factor": "u1",
                "ps": 0,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u1",
                            "u2",
                            "u4",
                            "tower"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 2,
                "factor": "u1",
                "ps": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u1",
                            "u2",
                            "u3",
                            "u4"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 2,
                "factor": "u2",
                "ps": 0,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u1",
                            "u2",
                            "u4",
                            "tower"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 2,
                "factor": "u2",
                "ps": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u1",
                            "u2",
                            "u3",
                            "u4"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 2,
                "factor": "u3",
                "ps": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u1",
                            "u2",
                            "u3",
                            "u4"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 2,
                "factor": "u4",
                "ps": 0,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u1",
                            "u2",
                            "u4",
                            "tower"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 2,
                "factor": "u4",
                "ps": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2,
                            4
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u1",
                            "u2",
                            "u3",
                            "u4"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 2,
                "factor": "tower",
                "ps": 0,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u1",
                            "u2",
                            "u4",
                            "tower"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            0
                        ]
                    }
                ]
            },
            {
                "cpu": 4,
                "factor": "u4",
                "ps": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2,
                            4
                        ]
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u4"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 8,
                "factor": "u5",
                "ps": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": []
                    },
                    {
                        "type": "factor",
                        "values": [
                            "u5"
                        ]
                    },
                    {
                        "type": "ps",
                        "values": [
                            1
                        ]
                    }
                ]
            }
        ],
        "id": 5,
        "tag": "trinity",
        "title": "Trinity",
        "url": "configurator.html"
    }

    console.log('brand', brand);

