script.
    function siteData() {
        return {
            showMainMenu: false,
            openMainMenu() {
                this.showMainMenu = true
            },
            closeMainMenu() {
                this.showMainMenu = false
            },
            mainMenuIsOpen() {
                return this.showMainMenu === true
            },

            activeMenu: 0,
            toggleDropdownMenu(index, ref) {
                let that = this;

                ref && window.slideToggle(ref, 300, function (ret) {
                    console.log('ret', ret);

                    if (ret === 'up') {
                        that.activeMenu = 0;
                    } else {
                        that.activeMenu = index;
                    }
                });
            },
            toggleDropdownClass(menu, ref) {
                let list = menu.querySelectorAll('.sublist');

                for (let i = 0; i < list.length; i++) {
                    let child = list[i];

                    if (child !== ref) {
                        window.slideUp(child, 300);
                    }
                }
            },
            isActiveDropdown(index) {
                return this.activeMenu === index;
            }
        }
    }

    function slideActions() {
        return {
            slideOpen: false,
            slideToggle(evt, parent) {
                evt.preventDefault();

                let that = this;

                if (parent) {
                    let slide = parent.querySelectorAll('.slideBlock');

                    for (let i = 0; i < slide.length; i++) {
                        const sld = slide[i];

                        window.slideToggle(sld, 200, function (ret) {
                            if (ret === 'up') {
                                that.slideOpen = false;
                            } else {
                                that.slideOpen = true;
                            }
                        });
                    }
                }

                return false;
            },
            isOpen() {
                return this.slideOpen;
            },
        }
    }

    function configuratorAlpineInit(q) {
        console.log('configuratorAlpineInit', this, q);
        fetch('/source/data/brand.json')
            .then(response => response.json())
            .then(data => { console.log('brand.json', data);  return brand = data})
    }

    function configuratorAlpine () {
        return {
            brand: {
                config: {
                    parts: []
                }
            },
            configurator: {
                cpu: [],
                fac: [],
                ups: []
            },
            switchParam(evt, prm, ind) {
                console.log('this.configurator', this.configurator);

                evt.preventDefault();
                this.configurator[prm] = ind;

                return false;
            },
            getCheck(index, item, prm) {
                return '<label class="checkbox_v2"><input type="checkbox" value="3" :checked="{ activeParam(\'' + prm + '\', ' + (index + 1) + ') }"><span class="checkbox__text">' + item + '</span></label>'
            },
            getLink(index, item, prm) {
                return '<a class="switcher__link" href="#" @click="{ switchParam($event, \'' + prm +  '\', ' + (index + 1) + ') }" :class="{ active: ' + (index + 1) + ' === activeParam(\'' + prm + '\') }">' + item + '</a>'
            },
            activeParam(prm, ind) {
                console.log('this.configurator', this.configurator, prm, ind);

                return this.configurator[prm].indexOf(ind) > -1
            },
            availableParam(prm) {
                let find = [];
                let slug = {cpu: 'xCPU', fac: '', ups: 'xPS'};

                for (const x of brand.configs) {
                    let check = (x[prm] + slug[prm]).toUpperCase();

                    if (find.indexOf(check) === -1) {
                        find.push(check)

                        this.configurator[prm].push(x[prm])
                    }
                }

                console.log('this.configurator', this.configurator);

                //-console.log('find', prm, find);
                //-
                //-if (prm === 'fac') {
                //-    find = find.sort(function (a, b) {
                //-        if (a > b) {
                //-            return -1;
                //-        }
                //-        if (a < b) {
                //-            return 1;
                //-        }
                //-        return 0;
                //-    })
                //-} else {
                //-    find = find.sort(function (a, b) {
                //-        if (a < b) {
                //-            return -1;
                //-        }
                //-        if (a > b) {
                //-            return 1;
                //-        }
                //-        return 0;
                //-    })
                //-}

                return find
            },
            getCategory(cat) {

                for (const x of brand.configs) {

                }

                return this.configurator[prm]
            },
            init() {
                fetch('/source/data/config2.json')
                    .then(response => response.json())
                    .then(response => {
                         console.log('fetched', response);

                         this.brand = response;
                    });
            }
        }
    }

    var brand = {
        "configs": [
            {
                "cpu": 1,
                "fac": "u1",
                "ups": 0,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u1",
                            "u2",
                            "u4",
                            "tower"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 1,
                "fac": "u1",
                "ups": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u1",
                            "u2",
                            "u3",
                            "u4"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 1,
                "fac": "u2",
                "ups": 0,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u1",
                            "u2",
                            "u4",
                            "tower"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 1,
                "fac": "u2",
                "ups": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u1",
                            "u2",
                            "u3",
                            "u4"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 1,
                "fac": "u3",
                "ups": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u1",
                            "u2",
                            "u3",
                            "u4"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 1,
                "fac": "u4",
                "ups": 0,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u1",
                            "u2",
                            "u4",
                            "tower"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 1,
                "fac": "u4",
                "ups": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2,
                            4
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u1",
                            "u2",
                            "u3",
                            "u4"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 2,
                "fac": "u1",
                "ups": 0,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u1",
                            "u2",
                            "u4",
                            "tower"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 2,
                "fac": "u1",
                "ups": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u1",
                            "u2",
                            "u3",
                            "u4"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 2,
                "fac": "u2",
                "ups": 0,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u1",
                            "u2",
                            "u4",
                            "tower"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 2,
                "fac": "u2",
                "ups": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u1",
                            "u2",
                            "u3",
                            "u4"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 2,
                "fac": "u3",
                "ups": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u1",
                            "u2",
                            "u3",
                            "u4"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 2,
                "fac": "u4",
                "ups": 0,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u1",
                            "u2",
                            "u4",
                            "tower"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 2,
                "fac": "u4",
                "ups": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2,
                            4
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u1",
                            "u2",
                            "u3",
                            "u4"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            0,
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 4,
                "fac": "u4",
                "ups": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2,
                            4
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u4"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 8,
                "fac": "u5",
                "ups": 1,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": []
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u5"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            1
                        ]
                    }
                ]
            },
            {
                "cpu": 1,
                "fac": "tower",
                "ups": 0,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u1",
                            "u2",
                            "u4",
                            "tower"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            0
                        ]
                    }
                ]
            },
            {
                "cpu": 2,
                "fac": "tower",
                "ups": 0,
                "availableParams": [
                    {
                        "type": "cpu",
                        "values": [
                            1,
                            2
                        ]
                    },
                    {
                        "type": "fac",
                        "values": [
                            "u1",
                            "u2",
                            "u4",
                            "tower"
                        ]
                    },
                    {
                        "type": "ups",
                        "values": [
                            0
                        ]
                    }
                ]
            }
        ],
        "id": 5,
        "tag": "trinity",
        "title": "Trinity",
        "url": "configurator.html"
    }


