//- Master layout
include page
include ../mixins/image

block vars
    - var breadcrumbs = ['Конфигураторы'];

doctype html
html(lang='ru')
    include ../mixins/head

    +page()
        block content
