//- Master layout
- var productList = GLOBAL.params.productList;

include page
include ../mixins/image

block vars
    - var pageTitle = 'Тринити';
    - var sliderMode = 'lenovo';

doctype html
html(lang='ru')
    include ../mixins/head

    +page()
        block content
