//- Master layout
- var productList = GLOBAL.params.productList;

include page
include ../mixins/image

block vars


doctype html
html(lang='ru')
    include ../mixins/head

    +page()
        block content
