include ../components/breadcrumbs

mixin page(body_cls)
    body(class= body_cls x-data='{ ...mainMenuDropdown(), ...mainMenu()' + (extraData || '') + ' }' :class="{ 'menu-expanded': mainMenuIsOpen() }")
        .main
            //- Header
            include ../components/header

            .container: .page_content: .wrapper
                +breadcrumbs(breadcrumbs)

                .page__title: h1= pageTitle

                include ../components/workflow

                //- block content
                block content

                include ../components/callback

        //- Footer
        include ../components/footer

        | <script type="module" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
        | <script nomodule src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine-ie11.min.js" defer></script>

        //- block scripts
        block scripts


        //- Global site tag (gtag.js) - Google Analytics
          script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-56237358-2')
          script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-56237358-2');

        include alpine
