include ../components/breadcrumbs

mixin page(body_cls)
    - var ie11 = false;
    - var price = true;
    - var alpineTemplates = false;
    - var xData = ' siteData() ';
    - var date = (new Date()).getTime();

    //- alpineTemplates = true;

    body(class= body_cls x-data=xData :class="{ 'menu-expanded': mainMenuIsOpen() }")
        .main
            //- Header
            include ../components/header

            if (!ie11)
                .container: .page_content(x-data=' configuratorAlpine() ' x-on:update-preset.window=" window.dev && console.log('update-preset GLOBAL', $event.detail);  preset = {...$event.detail.preset};" x-init=" $watch('preset', value => (window.dev && console.log('$watch_preset', value))); init(); " ): .wrapper
                    +breadcrumbs(breadcrumbs)

                    //- include ../components/workflow

                    //- Content
                    block content

                    include ../components/callback

        //- Footer
        if (!ie11)
            include ../components/footer
            include ../components/popup

        script(type="module" src="vendor/alpine.js?v=" + date)
        script(nomodule src="vendor/alpine-ie11.js?v=" + date defer)

        //- block scripts
        block scripts

        //- Global site tag (gtag.js) - Google Analytics
          script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-56237358-2')
          script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-56237358-2');

        include alpine_all
