extends ./layouts/master.pug

block vars
    - var pageTitle = 'Главная100500';
    - var breadcrumbs = ['Конфигураторы'];

block manifestBrowserconfigFiles
    link(href='../manifest.json', rel='manifest')
    meta(name='msapplication-config' content='../browserconfig.xml')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(http-equiv='cleartype' content='on')
    meta(name='msapplication-tap-highlight' content='no')

block content
    //- Desktop page
    section.page
        .page__title: h1 Конфигуратор серверов

        .page__section.__blue
            ul.workflow__list
                li
                    .workflow__item
                        .workflow__icon
                            span.ti-list-text.dm
                        .workflow__text Сбор <br> требований

                li
                    .workflow__item
                        .workflow__icon
                            span.ti-docs.dm
                        .workflow__text Составление <br> ТЗ

                li
                    .workflow__item
                        .workflow__icon
                            span.ti-check-square.dm
                        .workflow__text Валидация <br> у&nbsp;вендера

                li
                    .workflow__item
                        .workflow__icon
                            span.ti-spreadsheet.dm
                        .workflow__text Встреча <br> с&nbsp;вендером

                li
                    .workflow__item
                        .workflow__icon
                            span.ti-friends.dm
                        .workflow__text Регистрация <br> проекта

                li
                    .workflow__item
                        .workflow__icon
                            span.ti-percent.dm
                        .workflow__text Максимальные <br> скидки

                li
                    .workflow__item
                        .workflow__icon
                            span.ti-briefcase.dm
                        .workflow__text Документы <br> для&nbsp;трендера

                li
                    .workflow__item
                        .workflow__icon
                            span.ti-watch.dm
                        .workflow__text Поставка <br> в срок

                li
                    .workflow__item
                        .workflow__icon
                            span.ti-keyboard.dm
                        .workflow__text Настройка <br> оборудования

                li
                    .workflow__item
                        .workflow__icon
                            span.ti-star.dm
                        .workflow__text Гарантия <br> и&nbsp;сервис

                li
                    .workflow__item
                        .workflow__icon
                            span.ti-open-book.dm
                        .workflow__text Обучение <br> сотрудников

        .page__section


        .page__section.__gray
            .callback_section
                .callback_title Мы готовы ответить на ваши вопросы
                .callback_text Оставьте свои данные, и мы свяжемся с вами в ближайшее время
                .callback_form_holder: .callback_form_wrapper
                    // todo .crm-webform-wrapper box-shadow:none;
                    script#bx24_form_inline(data-skip-moving='true').
                        (function (w, d, u, b) {
                            w['Bitrix24FormObject'] = b;
                            w[b] = w[b] || function () {
                                arguments[0].ref = u;
                                (w[b].forms = w[b].forms || []).push(arguments[0])
                            };
                            if (w[b]['forms']) return;
                            var s = d.createElement('script');
                            s.async = 1;
                            s.src = u + '?' + (1 * new Date());
                            var h = d.getElementsByTagName('script')[0];
                            h.parentNode.insertBefore(s, h);
                        })(window, document, 'https://crm.3nt.ru/bitrix/js/crm/form_loader.js', 'b24form');
                        b24form({"id": "11", "lang": "ru", "sec": "av3vz5", "type": "inline"});





        //-
            <div x-data="{ show: false }">
            <button x-on:click="show= ! show" x-text="show ? 'Скрыть': 'Показать' ">
            </button>


            <p x-show.transition.origin.top.left="show">TRANSITION Top Right</p>

            <p x-show.transition.in.duration.1000ms.out.duration.500ms="show">TRANSITION IN Duration</p>
            </div>
