extends ../../layouts/master.pug

block vars
    - var pageTitle = 'Главная';
    - var breadcrumbs = ['Конфигураторы'];

block content
    section.page__section
        .product__panel
            ul.product__list
                - var i = 0;
                while i < (productList.length)
                    li: a.product__item(href='/' + productList[i])
                        img(src=require('media/logos/prod_' + productList[i] + '.png'))
                        //+requireIMG()

                    - i++;

        .product__description(x-data='{...slideActions()}' :class="{ '_expanded': isOpen() , '_collapsed': !isOpen() }")
            h3.product__description-caption Описание конфигуратора
            .product__description-text
                p  Конфигуратор  — среда разработки информационных систем на базе платформы «1С Предприятие».  Разработка прикладного решения обычно называется программирование или конфигурированием 1С.  С помощью данной среды возможно произвести не только доработку какого-либо решения, но и разработать собственную, полноценную конфигурацию.

            .product__description-text.slideBlock(style='display:none;')
                p  Конфигуратор  — среда разработки информационных систем на базе платформы «1С Предприятие».  Разработка прикладного решения обычно называется программирование или конфигурированием 1С.  С помощью данной среды возможно произвести не только доработку какого-либо решения, но и разработать собственную, полноценную конфигурацию.

            .text-right
                a.product__description-toggle(href='#' @click='{ slideToggle($event, $el) }')
                    span.show__expanded Развернуть
                    span.show__collapsed Свернуть

    //-
        <div x-data="{ show: false }">
        <button x-on:click="show= ! show" x-text="show ? 'Скрыть': 'Показать' ">
        </button>


        <p x-show.transition.origin.top.left="show">TRANSITION Top Right</p>

        <p x-show.transition.in.duration.1000ms.out.duration.500ms="show">TRANSITION IN Duration</p>
        </div>

