/* src/assets/styles/components/_breadcrumbs.scss  */

.breadcrumbs {
    padding: 32px 0 16px;

    @include respond-to-min($dt) {
        padding-bottom: 30px;
    }
}

.breadcrumbs li {
    float: left;
    position: relative;
    padding-left: 36px;
}

.breadcrumbs li {
    color: #7c7c7c;
    font-size: 14px;

    &:not(:first-child) {
        @extend %trinity_icons_before;

        &::before {
            content: $ti-arrow-right;
            position: absolute;
            left: 12px;
            font-size: 12px;
            top: 1px;
            color: #cccccc;
        }
    }

    &:first-child {
        padding-left: 0;

        &::before {
            display: none;
        }
    }
}

.breadcrumb_icon {
    position: relative;
    display: inline-block;
}
