/* src/assets/styles/components/_configurator.scss  */

.aside__holder {
    @include respond-to-max($dt) {
        padding-top: 30px;
    }
}

.configurator {

    &__tabs {
        @extend %clearfix;
        width: 100%;

        &-panel {
            @include respond-to-max($dt) {
                &.active + .configurator__tabs-panel {
                    margin-top: 30px;
                }
            }

            @include respond-to-min($tab) {
                display: inline;
            }
        }

        &-inner {
            width: 100%;
            padding-top: 10px;

            @include respond-to-min($tab) {
                border-top: 1px solid #1e70b8;
                padding-top: 20px;
                float: left;
                left: 0;
            }

            @include respond-to-min($dt) {
                padding-top: 40px;
            }
        }

        &-btn.btn {

            &:not(.active) {
                color: #1c70b7;
                background: none;

                &:hover {
                    color: #fff;
                }
            }

            @include respond-to-max($tab) {
                width: 100%;
                margin: 10px 0;
            }

            @include respond-to-min($tab) {
                display: inline-flex;
                height: 60px;
                font-size: 20px;
                text-align: center;
            }

            @include respond-to-min($wide) {
                min-width: 262px;

                .configurator__holder & {
                    padding-left: 36px;
                    padding-right: 36px;
                }
            }
        }
    }

    &__wrapper {

    }

    &__holder {
        @extend %global_flex_block_row_wrap_flex-start;
        display: block;
        margin-bottom: 20px;

        &.__bordered {
            border-top: 1px solid #e9e9e9;
        }

        .btn {
            padding-left: 26px;
            padding-right: 26px;
            font-family: $fontCirceBold;
        }

        @include respond-to-min($tab) {
            display: flex;
            //margin-bottom: 50px;
        }
    }

    &__aside {
        @extend %global_flex_block_row_nowrap_flex-start_stretch;
        background: $blue;
        padding: 26px 38px 34px;
        width: 100%;

        h4 {
            color: #fff;
            margin-bottom: 22px;
            font: 24px $fontCirceBold;
        }

        &-list {
            &:not(.__alone) {
                margin-bottom: 42px;
            }

            li {
                margin-bottom: 3px;
            }
        }

        &-feature {
            color: #fff;
            position: relative;
            font-size: 16px;
            list-style: disc;

            + .configurator__aside-feature {
                margin-top: 12px;
            }

            //&::before {
            //    content: '';
            //    position: absolute;
            //    width: 5px;
            //    height: 5px;
            //    border-radius: 2px;
            //    left: -20px;
            //    top: 5px;
            //    background: #fff;
            //}
        }

        &-link {
            text-decoration: none;
            font-size: 16px;
            color: #fff;

            &:hover {
                text-decoration: underline;
            }
        }

        @include respond-to-max($dt) {
            margin-bottom: 60px;

            &-col {
                width: 50%;
                padding-right: 20px;
            }
        }

        @include respond-to-max($tab) {
            display: block;

            &-col {
                width: 100%;
                padding-right: 0;
            }
        }

        @include respond-to-min($dt) {
            width: 300px;
            margin-top: 40px;
            display: block;

            &-col {
                width: 100%;
                padding-right: 0;
            }
        }
    }

    &__main {
        width: 100%;

        .configurator__row {
            //margin-top: 42px;
            padding-bottom: 18px;

            + .configurator__row {

                &::before {
                    //content: '';
                    //position: absolute;
                    //top: -42px;
                    //right: -15px;
                    //left: -15px;
                    //border-top: 1px solid #e9e9e9;
                    //
                    //@include respond-to-min($tab) {
                    //    left: 0;
                    //    right: 0;
                    //}
                }
            }

            @include respond-to-max($dt) {
                //margin-top: 46px;
                //padding-bottom: 38px;

                &:first-child {
                    margin-top: 22px;
                }

                &::before {
                    top: -46px;
                }
            }

            @include respond-to-min($dt) {
                &:last-child {
                    margin-bottom: 15px;
                }
            }
        }

        @include respond-to-min($dt) {
            padding-right: 40px;
            padding-top: 32px;
            width: calc(100% - 300px);
        }
    }

    &__form {
        width: 100%;
        //margin-bottom: 35px;

        .configurator__row {
            padding-top: 7px;
            padding-bottom: 7px;

            .configurator__icon {
                top: -7px;
            }
        }

        //@include respond-to-min($dt) {
        //    padding-right: 340px;
        //    margin-bottom: 60px;
        //}
    }

    &__row {
        position: relative;

        @include respond-to-min($dt) {
            padding-left: 120px;
            min-height: 90px;
        }
    }

    &__controls {
        @extend %global_flex_block_row_nowrap_flex-start_stretch;

        .__disabled {
            @extend %no-user-select;
            opacity: .75;
            pointer-events: none;
        }
    }

    &__icon {
        @extend %global_flex_block_column_nowrap_flex-start;
        width: 102px;
        height: 92px;
        position: absolute;
        top: 8px;
        left: 0;
        display: none;

        .configurator__form & {
            align-items: center;
            justify-content: center;
            width: 92px;
            background: #faf9fa;
        }

        img {
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
        }

        span {
            font-size: 2em;
            background: linear-gradient(0deg, #47acf8 0%, #3c81af 100%);
            text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
        }

        @include respond-to-min($dt) {
            display: flex;
        }
    }

    &__warn {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        background: #e8f0f4;
        color: #818181;
        padding: 3px 4px 3px;
        border-radius: 3px;
        margin-bottom: 15px;
    }

    &__label {
        font: 900 18px $fontGilroyExtraBold;
        margin-bottom: 12px;
        width: 100%;

        + .configurator__label {
            @include respond-to-max($dt) {
                margin-top: 18px;
            }
        }
    }

    &__cell {
        position: relative;
        max-width: 100%;

        input {
            max-width: 100%;
        }

        &-rm {
            cursor: pointer;
            position: absolute;
            left: 20px;
            top: 3px;
            font-size: 24px;
            color: #616161;

            @include respond-to-min($tab) {
                left: 25px;
            }
        }

        &:first-child {
            flex: 1 0 auto;

            &:not(:only-child) {
                max-width: calc(100% - 170px);

                @include respond-to-min($tab) {
                    max-width: calc(100% - 190px);
                }

                &.__wide {
                    max-width: calc(100% - 55px);
                    width: 100%;
                }
            }
        }

        &.__multiply {

        }

        + .configurator__cell {
            min-width: 170px;
            max-width: 170px;
            padding-left: 55px;

            &.__remove {
                min-width: 0;
            }

            @include respond-to-min($dt) {
                min-width: 190px;
                max-width: 190px;
                padding-left: 90px;

                &.__remove {
                    min-width: 0;
                }
            }
        }
    }

    &__controls {
        margin-bottom: 10px;

        + .configurator__label {
            margin-top: 30px;
        }
    }

    &__options {
        margin-bottom: 35px;

        li {
            font-size: 14px;
            color: #616161;
            margin-bottom: 18px;
        }

        .slider__description & {

            @include respond-to-min($dt) {
                padding: 5px 20px 0 45px;
            }

            li {
                position: relative;
                font-size: 18px;
                margin-bottom: 24px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 8px;
                    left: -40px;
                    border-radius: 100%;
                    background: $blue;
                    width: 8px;
                    height: 8px;
                }

                @include respond-to-max($dt) {
                    margin-left: 40px;
                }
            }
        }
    }

    &__share {
        font-size: 17px;
        padding-left: 30px;
        flex: 1 0 15%;

        a {
            color: $blue;
        }

        p {
            + p {
                margin-top: 3px;
            }
        }
    }

    &__counter {
        position: relative;
        width: 194px;
        min-width: 194px;
        padding: 0 32px;
        text-align: center;
        margin-bottom: 10px;

        @include respond-to-min($dt) {
            margin-right: 15px;
            margin-bottom: 0;
        }

        @include respond-to-min($wide) {
            order: 1;
        }

        &-value {
            input {
                display: block;
                width: 100%;
                height: 52px;
                font-size: 25px;
                line-height: 30px;
                padding: 11px 5px;
                background: #fff;
                text-align: center;
                color: $blue;

                @include respond-to-min($dt) {
                    height: 60px;
                    padding: 15px 5px;
                }
            }
        }

        &-btn.btn {
            @extend %no-user-select;
            position: absolute;
            top: 0;
            bottom: 0;
            padding: 0;
            height: auto;
            width: 32px;
            color: #fff;
            font-size: 25px;
            line-height: 1;
            background: $blue;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &.__plus {
                left: 0;
            }

            &.__minus {
                right: 0;
            }
        }
    }

    &__total {
        @extend %global_flex_block_column_nowrap_flex-start_stretch;

        &-sticky {
            padding: 10px;
            margin-bottom: 28px;
            background: #e2ecf6;
            max-width: 1290px;

            &.stuck {
                @include respond-to-min($tab) {
                    position: fixed;
                    bottom: -28px;
                    z-index: 10;
                    width: calc(100% - 30px);
                    left: 50%;
                    transform: translateX(-50%);
                }

                @include respond-to-min($wide) {
                    width: calc(100% - 68px);
                }
            }

            .configurator__total-label {
                padding-left: 0;
            }

            .configurator__cell {
                flex: 0 0 auto;

                @include respond-to-max($dt) {
                    margin: 0 10px 10px 0;
                    max-width: 100% !important;
                }

                @include respond-to-max($mob) {
                    margin-right: 0;
                }
            }

            @include respond-to-min($dt) {
                padding: 22px 11px 30px 86px;
                margin-right: -340px;
            }

            @include respond-to-min($wide) {
                padding: 22px 30px 30px 105px;
                max-width: 1252px;

                //&.stuck {
                //    padding: 10px 30px 10px 105px;
                //}
            }
        }

        .configurator__total-sticky & {
            margin-bottom: 0;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;

            @include respond-to-min($wide) {
                flex-flow: row nowrap;
            }
        }

        &-info {
            background: #f6f6f6;
            color: $blue;
            font-size: 16px;
            line-height: 1.5;
            padding: 24px 20px;
            margin-bottom: 30px;
            flex: 1;

            @include respond-to-min($dt) {
                margin-bottom: 0;
                padding: 20px 120px 20px 32px;
            }
        }

        &-price {
            @extend %global_flex_block_row_wrap_space_between_stretch;
            padding-top: 10px;

            @include respond-to-max($dt) {
                width: 100%;
            }

            @include respond-to-min($dt) {
                padding-right: 10px;

                ~ .configurator__total-price {
                    padding-right: 0;
                    padding-left: 10px;
                }
            }

            @include respond-to-min($wide) {
                min-width: 177px;
                margin: 0;
                flex-flow: column nowrap;
                padding: 0 0 0 32px;
                justify-content: center;
            }

            .configurator__total-sticky & {
                @include respond-to-min($dt) {
                    flex: 1 0 50%;
                }

                @include respond-to-min($wide) {
                    flex: 1 0 auto;
                    flex-flow: column nowrap;
                    padding: 0 0 0 32px;
                    justify-content: center;

                    &:last-child {
                        min-width: 235px;
                        order: 2;
                    }
                }
            }
        }

        &-label {
            color: #989898;
            font-size: 14px;
            width: 100%;
            padding-left: 5px;

            @include respond-to-min($dt) {
                padding-bottom: 10px;
            }
        }

        &-val {
            color: #000;
            font: 30px $fontCirceBold;
            margin-top: 10px;
            text-align: center;
            background: #f6f6f6;
            width: calc(50% - 6px);

            @include respond-to-min($wide) {
                background: none;
                text-align: left;
                padding: 0;
                margin-top: 0;
                white-space: nowrap;
                width: 100%;
            }

            .configurator__total-sticky & {
                font-size: 24px;
                font-weight: 900;
            }
        }

        @include respond-to-min($dt) {
            flex-flow: row nowrap;
            margin-bottom: 70px;
        }
    }
}
