/* src/assets/styles/components/_workflow.scss  */

.product {
    &__list {
        @extend %global_flex_block_row_wrap_flex-start_stretch;
        position: relative;
        z-index: 1;
        overflow-x: auto;
        overflow-y: hidden;
        margin: 0 -13px 70px;

        li {
            flex: 0 0;
            padding: 13px 13px 0;
        }

        @include respond-to-min($wide) {
            margin: 0 -15px 50px;
            justify-content: space-between;

            li {
                flex: 1 0;
                padding: 15px 15px 0;
            }
        }
    }

    &__item {
        @extend %global_flex_block_column_nowrap_center_center;
        @include transition_all(border-color .3s, box-shadow .3s);
        text-align: center;
        border: 1px solid #e9e9e9;
        height: 77px;
        min-width: 133px;

        img {
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
        }

        &:hover {
            border-color: $blue;
        }

        &.active {
            box-shadow: inset 0 0 10px $blue;
            border-color: $blue;
        }

        @include respond-to-min($wide) {
            height: 87px;
            min-width: 0;
        }
    }

    &__description {
        background: #f6f6f6;
        padding: 40px 30px 15px;
        margin-bottom: 55px;

        &-caption {
            color: $blue;
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 30px;
        }

        &-toggle {
            cursor: pointer;
            font-size: 12px;
            color: $blue;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        &-text {

            p {
                color: $black;
                font-size: 18px;
                margin-bottom: 28px;
            }
        }

        &._collapsed {
            .show__collapsed {
                display: none;
            }
        }

        &._expanded {
            .show__expanded {
                display: none;
            }
        }

        @include respond-to-min($dt) {

        }
    }

}
