/* src/assets/styles/components/_switcher.scss  */

.switcher {

    &__name {
        font-size: 24px;
        font-family: $fontCirceExtraBold;
        margin-bottom: 12px;
    }

    &__holder {
        @extend %global_flex_block_row_wrap_space_between_center;
        margin-bottom: -25px;
        padding: 26px 6px 6px;
        background: $gray;

        @include respond-to-min($dt) {
            margin-bottom: -20px;
            padding: 46px 6px 26px;
            min-height: 150px;
        }
    }

    &__list {
        @extend %global_flex_block_row_nowrap_center_center;
        width: 100%;
        margin: 0 5px 20px;

        @include respond-to-min($dt) {
            flex: 1 0 auto;
            width: auto;

            &:first-child {
                justify-content: flex-start;
            }

            &:last-child {
                justify-content: flex-end;

                .switcher__link {
                    //min-width: 77px;
                }
            }
        }
    }

    &__link {
        height: 30px;
        border: 2px solid #e2e2e2;
        margin-left: -2px;
        text-align: center;
        font: 14px/30px $fontCirceRegular;
        color: $blue;
        display: inline-block;
        padding: 0 4px;

        &.active {
            background: $blue;
            border-color: $blue;
            color: #fff;
        }

        &.disabled {
            pointer-events: none;
            cursor: default;
            color: rgba(0, 0, 0, 0.3);
        }

        @include respond-to-min($tab) {
            font-size: 18px;
            height: 44px;
            line-height: 44px;
        }

        @include respond-to-min($dt) {
            min-width: 0;
            height: 34px;
            font: 15px/34px $fontCirceRegular;
            padding: 0 3px;
        }

        @include respond-to-min($dt + 100) {
            font-size: 16px;
            padding: 0 5px;
        }

        @include respond-to-min($wide) {
            height: 44px;
            font: 18px/44px $fontCirceRegular;
            padding: 0 5px;
        }

        @include respond-to-min($wide + 200) {
            padding: 0 9px;
            min-width: 56px;
        }
    }
}
