/* src/assets/styles/components/_workflow.scss  */

.workflow {
    &__list {
        @extend %global_flex_block_row_nowrap_space_between_center;
        position: relative;
        z-index: 1;
        overflow-x: auto;
        overflow-y: hidden;

        li {
            flex: 1 0 auto;
            padding: 0 15px;
        }
    }

    &__item {
        text-align: center;
        color: #fff;
        font-size: 14px;
    }

    &__icon {
        font-size: 34px;
        height: 75px;
        line-height: 75px;

        span {
            opacity: .4;
            line-height: 1;
        }

        @include respond-to-min($dt) {
            padding-top: 8px;
            line-height: 50px;
        }
    }
}
