extends ../../layouts/master.pug

block vars
    - var pageTitle = 'Конфигуратор серверов Тринити';
    - var breadcrumbs = ['Конфигуратор серверов', 'Тринити', 'Сервер E111-M5'];
    - var serverParams = {cpu : ['1хCPU', '2хCPU', '4хCPU', '8хCPU'], fac : ['1U', '2U', '3U', '4U', '5U', 'TOWER'], ups : ['1хPS', '2хPS', '4хPS']};
    - var sliderMode = 'trinity';

    - var serverParamsJS = 'configurator: {';
    each val, key in serverParams
        - serverParamsJS += '\n' + key + ':0,';

    - serverParamsJS = serverParamsJS.replace(/,$/, '\n') + '}';

block scripts
    script.
        window.order = {
            loaded: false,
            totalDescription: 'Intel® Xeon® 4C/4T E3-1220v6 3000/8M, 80W, LGA1151 / 4GB, DDR4, 2400 MHz, PC4-17000, ECC, Unbuffered  / SSD 240GB, Read Intensive / 1TB, 7200rpm, SATA, Enterprise / 12TB, 7200rpm, SATA, Enterprise / 900GB, 2.5", 10000rpm, SAS / LSI MegaRAID SAS 9361 - 4i(4port SAS3, 1GB) / Контроллер FibreChannel, 2 x 8 Gbit, Dual port, Qlogic / Предустановка Windows Server 2019 Std Rus, 16 core / APC Smart - UPS RT мощностью 2200VA / <b>Опция «Невозврат носителя»</b><p > Для защиты конфиденциальных данных предоставляется возможность невозврата накопителей информации(жестких дисков, твердотельных накопителей). Покупатель обязан предоставить в Тринити документ об утилизации, указав заводской серийный номер производителя комплектующей, и фотографию приведённого в неработоспособное состояние накопителя.</p><p>Срок гарантийного обслуживания 3 года.</p> / Zyxel XGS2210-28, 24xGE, 4xSFP+, стекируемый (до 2)',
            exchangeRate: 70,
            totalPrice: 6836,
            totalPriceD: '6 836.00',
            totalPriceR: '478 520.00',
            hddCount: 8,
            CPU: {
                id: '41',
                count: '1'
            },
            RAM: {
                id: '28',
                count: '1'
            },
            SSD: {
                list: [
                    {
                        id: '89',
                        count: '2'
                    }
                ]
            },
            SATA: {
                list: [
                    {
                        id: '35',
                        count: '2'
                    },
                    {
                        id: '1342',
                        count: '3'
                    }
                ]
            },
            SAS: {
                list: [
                    {
                        id: '102',
                        count: '1'
                    }
                ]
            },
            RAID: {
                id: '467',
                count: '1'
            },
            OtherContr: {
                id: '86',
                count: '1'
            },
            SP: {
                id: '',
                count: '1'
            },
            Soft: {
                id: '1294',
                count: '1'
            },
            Other: {
                id: '16',
                count: '1'
            },
            UPS: {
                id: '882',
                count: '1'
            },
            Services: {
                id: '894',
                count: '1'
            },
            Switch: {
                id: '1238',
                count: '1'
            }
        }

block content
    // ### pug/pages/configurator/index.pug

    section.page__section
        include ../../components/slider

        form.configurator__holder(action='#' method="post"  @submit.prevent=" configaratorSubmit($event) ")
            include ../../components/conf_main

            include ../../components/conf_aside

            include ../../components/conf_form

            .configurator__cell
                button.btn Получить предложение

        include ../../components/warranty

        include ../../components/description

    // pug/pages/configurator/index.pug ###
