extends ../../layouts/master.pug

block vars
    - var pageTitle = 'Конфигуратор серверов Тринити';
    - var breadcrumbs = ['Конфигуратор серверов', 'Тринити'];
    - var serverParams = {cpu : ['1хCPU', '2хCPU', '4хCPU', '8хCPU'], fac : ['1U', '2U', '3U', '4U', '5U', 'TOWER'], ups : ['1хPS', '2хPS', '4хPS']};

    - var serverParamsJS = 'configurator: {';
    each val, key in serverParams
        - serverParamsJS += '\n' + key + ':0,';

    - serverParamsJS = serverParamsJS.replace(/,$/, '\n') + '}';

block content
    // ### pug/pages/trinity/index.pug

    include ../../components/switchers

    section.page__section
        .product__panel
            ul.product__list.__wide
                if (alpineTemplates)

                else
                - var i = 0;
                while i < 4
                    li: .product__block
                        .product__img
                            img(src=require('media/content/config_1.jpg'))

                        .product__name Сервер E110-M5

                        include ../../components/options

                        a.product__btn(href='configurator.html') Сконфигурировать

                    - i++;

        include ../../components/description

    // ### pug/pages/trinity/index.pug

