$icomoon-font-family: "trinity_icons" !default;
$icomoon-font-path: "fonts" !default;

$ti-check-square: "\e913";
$ti-house: "\e911";
$ti-arrow-down: "\e900";
$ti-arrow-right: "\e912";
$ti-briefcase: "\e901";
$ti-friends: "\e902";
$ti-docs: "\e903";
$ti-spreadsheet: "\e904";
$ti-keyboard: "\e905";
$ti-list-text: "\e906";
$ti-mail: "\e907";
$ti-map: "\e908";
$ti-message: "\e909";
$ti-office: "\e90a";
$ti-open-book: "\e90b";
$ti-percent: "\e90c";
$ti-star: "\e90d";
$ti-watch: "\e90e";
$ti-phone: "\e90f";
$ti-user: "\e910";

