// ### pug/components/callback.pug

section.page__section.__gray
    .callback_section
        .callback_title Мы готовы ответить на ваши вопросы
        .callback_text Оставьте свои данные, и мы свяжемся с вами в ближайшее время
        //-.callback_form_holder: .callback_form_wrapper
            // todo .crm-webform-wrapper box-shadow:none;
            script#bx24_form_inline(data-skip-moving='true').
                (function (w, d, u, b) {
                    w['Bitrix24FormObject'] = b;
                    w[b] = w[b] || function () {
                        arguments[0].ref = u;
                        (w[b].forms = w[b].forms || []).push(arguments[0])
                    };
                    if (w[b]['forms']) return;
                    var s = d.createElement('script');
                    s.async = 1;
                    s.src = u + '?' + (1 * new Date());
                    var h = d.getElementsByTagName('script')[0];
                    h.parentNode.insertBefore(s, h);
                })(window, document, 'https://crm.3nt.ru/bitrix/js/crm/form_loader.js', 'b24form');
                b24form({"id": "11", "lang": "ru", "sec": "av3vz5", "type": "inline"});

// pug/components/callback.pug ###
