// ### pug/components/callback.pug

section.page__section.__pad-0
    .features_section
        ul.features_list.clearfix
            li.feature_item
                .feature_icon._tool
                .feature_caption Оперативная сборка
                p Высокая доступность необходимых комплектующих
                p
                    | Тринити располагает
                    | 2 производственными
                    | площадками мощностью
                    | до 15 000 серверов в год
            li.feature_item
                .feature_icon._star
                .feature_caption Высокое качество сборки
                p Менее 2% гарантийных случаев
                p
                    | Строго выверенные производственные процессы
                    | мониторинг состояния оборудования на всех этапах производства силами
            li.feature_item
                .feature_icon._check
                .feature_caption Полное тестирование компонентов
                p Автоматическая прошивка;
                p  Разметка дисков и создание массивов;
                p  Установка ОС, драйверов и ПО для тестов;
                p Проверка оборудования под высокой нагрузкой;
                p Автоматизированные тесты без установки ОС и другое.
            li.feature_item
                .feature_icon._warranty
                .feature_caption Гарантия 3 года
                p С сервисным обслуживанием в 42 городах России и СНГ
                p
                    a.feature_link(href='https://www.trinitygroup.ru/about/trinity_service/') Сервисные центры
                p
                    a.feature_link(href='https://www.trinitygroup.ru/services/tekhnicheskoe-obsluzhivanie-serverov/') Стандартные гарантийные условия
                p
                    a.feature_link(href='https://www.trinitygroup.ru/services/tekhnicheskoe-obsluzhivanie-serverov/') Расширенное сервисное обслуживание
                p
                    a.feature_link(href='https://www.trinitygroup.ru/about/sertificate/') Сертификаты
            li.feature_item
                .feature_icon._delivery
                .feature_caption Поставка по всей России и СНГ
                p Возможен самовывоз
            li.feature_item
                .feature_icon._storage
                .feature_caption На выходе каждый сервер снабжен:
                p
                    a.feature_link(href='https://www.trinitygroup.ru/import-substitution/testirovanie/trinity-software/') Системой мониторинга Тринити для предупреждения неполадок в системе.
            li.feature_item._wide
                .feature_caption
                    | Компания «Тринити» имеет
                    br
                    | следующие сертификаты:
                p
                    a.cert_link(href='https://www.trinitygroup.ru/about/sertificate/') Сертификат на производство серверов
                p
                    a.cert_link(href='https://www.trinitygroup.ru/about/sertificate/') Декларация Минсвязи
                p
                    a.cert_link(href='https://www.trinitygroup.ru/about/sertificate/') Сертификат соответствия таможенного союза

section.page__section.__gray
    .callback_section
        .callback_title Мы готовы ответить на ваши вопросы
        .callback_text Оставьте свои данные, и мы свяжемся с вами в ближайшее время
        .callback_form_holder: .callback_form_wrapper
            // todo .crm-webform-wrapper box-shadow:none;
            script#bx24_form_inline(data-skip-moving='true').
                (function (w, d, u, b) {
                    w['Bitrix24FormObject'] = b;
                    w[b] = w[b] || function () {
                        arguments[0].ref = u;
                        (w[b].forms = w[b].forms || []).push(arguments[0])
                    };
                    if (w[b]['forms']) return;
                    var s = d.createElement('script');
                    s.async = 1;
                    s.src = u + '?' + (1 * new Date());
                    var h = d.getElementsByTagName('script')[0];
                    h.parentNode.insertBefore(s, h);
                })(window, document, 'https://crm.3nt.ru/bitrix/js/crm/form_loader.js', 'b24form');
                b24form({"id": "11", "lang": "ru", "sec": "av3vz5", "type": "inline"});

// pug/components/callback.pug ###
