// ### pug/components/conf_features.pug

.configurator__aside
    .configurator__aside-col
        ul.configurator__aside-list.__alone
            li.configurator__aside-feature Соберём и сведём воедино все ваши требования
            li.configurator__aside-feature Составим спецификацию оборудования и ПО
            li.configurator__aside-feature
                | Проведем валидацию
                br
                | спецификации у производителя
            li.configurator__aside-feature Зарегистрируем оборудование (проект) у производителя
            li.configurator__aside-feature Организуем встречу с представителем производителя
            li.configurator__aside-feature Предоставим цены и максимальные скидки
            li.configurator__aside-feature
                | Подготовим ТЗ
                br
                | и документацию к тендеру
            li.configurator__aside-feature
                | Осуществим поставку
                br
                | быстро и точно в срок
            li.configurator__aside-feature Настроим оборудование в вашей ИТ-инфраструктуре
            li.configurator__aside-feature Поставим оборудование на гарантию и сервис
            li.configurator__aside-feature
                | Проведем обучение
                br
                | сотрудников заказчика

// pug/components/conf_features.pug ###
