// ### pug/components/conf_form.pug

.configurator__form
    .configurator__row
        .configurator__icon
            img(src=require('media/system/config_service.png'))
        .configurator__label ФИО


// pug/components/conf_form.pug ###
