// ### pug/components/conf_specifications.pug

.specifications_block
    ul
        li: dl
            dt
                span Чипсет
            dd
                p
                    span Intel® C621
        li: dl
            dt
                span ОЗУ
            dd
                p
                    span 12 DIMM ECC DDR4-2933/2666/2400/2133, до 768ГБ RDIMM или 1.5ТБ LRDIMM
        li: dl
            dt
                span RAID контроллер
            dd
                div Интегрированный SATA RAID0, 1, 5, 10
                div
                    | Опционально полноценный аппаратный RAID-контроллер: Microsemi (Adaptec) или Broadcom (LSI)
                div Для подключения внешних СХД опционально поставляются:
                div SAS HBA LSI SAS 9300/9400-4e/8e/16e
                div FC HBA Qlogic QLE2670/2672 (16Гбит/с, LC multimode)
        li: dl
            dt
                span Сеть
            dd
                div 2 x 1GBase-T Ethernet (RJ45)
                div Опционально поставляются карты 10/25/40/50/100Gigabit Ethernet или Infiniband
        li: dl
            dt
                span Слоты расширения
            dd
                div "2 PCI-E 3.0 x16 (FHHL) slots
                div 1 PCI-E 3.0 x8 (LP) slot
                div 1 PCI-E 3.0 x16 for Add-on-Module (AOM) (внутренний)
                div 1 PCI-E 3.0 x4 NVMe M.2 slot (внутренний)"
        li: dl
            dt
                span Питание
            dd
                p
                    span
                        | Дублированный 750Вт блок питания, 220В 50Гц
                        br
        li: dl
            dt
                span Габариты
            dd
                p
                    span
                        | 19" 1U, 437х597х43мм (ШхГхВ)
                        br
        li: dl
            dt
                span Охлаждение
            dd
                p
                    span
                        | 4шт 40мм 14000RPM, опционально еще 2шт (рекомендуется для процессоров Gold)
                        br
        li: dl
            dt
                span Управление
            dd
                p
                    span
                        | IPMI 2.0 с функциями KVM-over-LAN и virtual media over LAN, выделенный порт RJ45
                        br
        li: dl
            dt
                span Интегрированные устройства
            dd
                p
                    span
                        | 4xUSB3.0, 12xSATA, Video, 2 разъема SuperDOM
                        br


//-.specifications__holder
    article
        div
            h4 Базовые параметры:
            ul.specifications__list
                li Чипсет Intel® C242
                li Поддерживаются процессоры 8-го поколения Intel® Pentium®, Intel® Celeron®, Intel®Core™ i3, Intel®Xeon® Processor E-2100/E-2200
                li Высота сервера в стойке 1U
                li Комплект для фиксированного монтажа в стойку поставляется опционально
                li Габаритные размеры с учетом выступающих элементов (Д × Ш × В, мм): 408 × 484 × 43
                li Размеры упаковки (Д × Ш × В, мм): 565 × 510 × 170
                li Масса: до 10 кг
        div
            h4 Конструктив корпуса:
            ul.specifications__list
                li Имеется место под установку двух накопителей типоразмера 2,5″ или 3,5″ без поддержки «горячей» замены
                li Устанавливается одинарный блок питания мощностью 350 Вт
                li Установлено два вентилятора 40×56 мм с регулируемой скоростью вращения
    article
        div
            h4 Порты ввода-вывода:
            ul.specifications__list
                li 1 слот PCI-E x8 3.0 (через опциональный райзер x8)
                li 2 порта USB 3.0 на задней панели
                li 2 порта USB 2.0 на задней панели
                li 1 порт D-Sub (VGA)
                li 1 COM-порт
                li 2 сетевых порта Gigabit Ethernet 1 Гбит/с на базе контроллера Intel® i210-AT
                li 1 выделенный сетевой порт управления (IPMI) с KVM-over-LAN

        div
            h4 Операционные системы:
            ul.specifications__list
                li Microsoft® Windows Server 2019
                li Microsoft® Windows Server 2016
    article
        div
            h4 Конфигурация:
            ul.specifications__list
                li Материнская плата на базе чипсета Intel® C242
                li Устанавливается 1 процессор 8-го поколения Intel® Pentium®, Intel® Celeron®, Intel® Core™ i3, Intel®Xeon® Processor E-2100/E-2200  (Возможность установки процессоров, не открытых в конфигураторе, уточняйте у вашего персонального менеджера)
                li Материнская плата имеет 6 портов SATA 3.0 с поддержкой RAID 0, 1 ,5, 10
                li Имеется 4 слота под оперативную память DDR4
                li Максимальный поддерживаемый объём памяти – 128 ГБ (4 х 32 ГБ UDIMM ECC)
                li Интегрированное видео на чипе Aspeed AST2500 (1 ГБ DDR4, 1920 x 1200)
                li Поддержка операционной системы Windows Server 2019
                li Гарантия на сервер от 1 до 5 лет с возможностью обслуживания на месте эксплуатации


// pug/components/conf_specifications.pug ###
