// ### pug/components/conf_links.pug

.configurator__aside
    .configurator__aside-col
        ul.configurator__aside-list.__alone
            li: a.configurator__aside-link(href='#') Конфигуратор СХД
            li: a.configurator__aside-link(href='#') Конфигуратор графических станций

// pug/components/conf_links.pug ###
