// ### pug/components/conf_aside.pug

.configurator__aside
    h4 Похожие модели

    ul.configurator__aside-list
        li: a.configurator__aside-link(href='#') Сервер E111-M5
        li: a.configurator__aside-link(href='#') Сервер E112-M5
        li: a.configurator__aside-link(href='#') Сервер E113-M5

    h4 Все модели тринити
    ul.configurator__aside-list
        li: a.configurator__aside-link(href='#') Сервер E210-M5
        li: a.configurator__aside-link(href='#') Сервер E410-M5
        li: a.configurator__aside-link(href='#') Сервер E220-M5

// pug/components/conf_aside.pug ###
