// ### pug/components/options.pug

ul.product__options
    li Корзина на 4 SAS/SATA 3,5” диска с возможностью горячей замены.
    li Для установки дисков SAS требуется RAID-контроллер.
    li Полноразмерный слот PCI-E.
    li Одинарный блок питания 350Вт.
    li Поддержка одного процессора Intel® Xeon® E3-1200 v6 и Core&nbsp;i3.
    li 4 сокета DDR4 Unbuffered ECC.
    li 2 порта Gigabit Ethernet.
    li Встроенный IPMI

- if (price)
    .product__price-base
        span Базовая конфигурация
        span 93 252 руб.

    .product__price Цена от 99 271 руб.

// pug/components/options.pug ###
