// ### pug/components/switcher.pug

mixin buildSwitch(name)
    - var cls = '__' + name;

    ul.switcher__list(class= cls)
        if (false)
            template(x-for="(item, index, collection) in availableParam('" + name + "')" :key='index' x-if="true")
                li(x-html='getCheck(index, item, "' + name + '" )')

        else
            - var array = serverParams[name];
            - for (var i = 0; i < array.length; i++)
                li
                    //-label.checkbox_v2
                        input(type='checkbox' value= i :checked="{ activeParam('" + name + "', " + (i + 1) + ") }" )
                        span.checkbox__text()= array[i]

                    a.switcher__link(href='#' class=( i > 3 ? 'disabled' : '') @click=" toggleParam($event, '" + name + "', '" + (array[i]) + "') " :class= "{ active: activeParam('" + name + "', '" + (array[i]) + "') }")= array[i]

section.page__section
    .switcher__holder
        +buildSwitch('cpu')
        +buildSwitch('fac')
        +buildSwitch('ups')

// pug/components/switcher.pug ###
