// ### pug/components/tags.pug

ul.switcher__list
    li: a.switcher__link(href='#') Постоянный ток
    li: a.switcher__link(href='#') Росреестр
    li: a.switcher__link(href='#') Серверы для 1С

// pug/components/tags.pug ###
