// ### pug/components/warranty.pug

h3.product__description-title Гарантия

.product__description()
    h3.product__description-subcaption Гарантия и сервисное обслуживание
    .product__description-text.__short
        div.product__description-warranty
            +checkbox('<b>Стандартная гарантия от Тринити (предоставляется по умолчанию)</b> <br />' +
            'Каждый сервер по умолчанию обеспечивается <a href="#">стандартной гарантией в течение трех лет</a>. Обслуживание производится в ' +
            'сервисном центре или дистанционно (курьерскими службами). Время реакции сервисной службы – следующий рабочий день.<br />' +
            'Время восстановления работоспособности – не более 21 рабочего дня.<br />' +
            'Стоимость стандартной гарантии включена по умолчанию и отражена в итоговой сумме КП на серверное оборудование.', true)

        div.product__description-warranty(x-data=' slideActions() ' :class="{ '_expanded': isOpen() , '_collapsed': !isOpen() }")
            +checkbox('<b>Расширенная гарантия (приобретается отдельно).</b> <a href="#" @click=" slideToggle($event, $el) "><b x-text=" isOpen() ? \'Свернуть\' : \'Развернуть\' "></b></a> <br />' +
            ' <div style="display: none;" class="slideBlock">Пакеты расширенной гарантии позволяют продлить гарантийный срок серверного оборудования (в т.ч. и для ранее ' +
            'приобретенного оборудования), обеспечить ремонт на месте установки, значительно сократить время реакции и ' +
            'гарантировать время восстановления, а также не возвращать накопители с конфиденциальной информацией. ' +
            'Стоимость расширенной гарантии определяется от задач и рассчитывается индивидуально. ' +
            'При необходимости выберите данный пункт гарантии слева и отразите данный момент в комментариях к заказу, а также ' +
            'Вашему персональному менеджеру. ' +
            '</div>', false)

        //-template(x-if=" preset.loaded && preset.hasOwnProperty('Services') " ): ul.product__warranty
            if (templ)
                - var d = 'Services';
                input.input_hidden(@input=" updatePreset('" + d + "') " x-model="preset." + d + ".id" name="preset_" + d + "_id" data-index='0' data-preset=d )
                template(x-for="(item, index, collection) in configuratorAlpine().selectOption('" + d + "')" :key="item" x-if="true")
                    li
                        label.checkbox_v1
                            input(type='radio' x-model="preset." + d + ".id" name='service_warranty' :value="item.id.toString()" :id='item.id' @input=" updatePreset('" + d + "') " )
                            span.checkbox__text(x-text= 'item.name')

                    //-.configurator__cell(data-preset=d data-index='0')
                        - var ref = "'select_" + d + "_' + index + '_value'";
                        input.input_hidden(@input=" updatePreset('" + d + "') " x-model="preset." + d + ".id" name="preset_" + d + "_id" data-index='0' data-preset=d )
                        +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', name: '" + ("preset_CPU_") + "', placeholder: 'Выберите из списка' })", d)

                    //-.configurator__cell.__multiply(:class="{ __disabled: " + "!preset?." + d + "?.id?.length" + " }" data-preset=(d + '_count') data-index='0')
                        input.input_hidden(value='1' @input=" updatePreset() " x-model="preset." + d + ".count" name="preset_" + d + "_count" data-index='0' data-preset=(d + '_count') )
                        .configurator__cell-rm(@click=" removeItem('" + d + "', $event.target.dataset.index) " data-index='0') x
                        +select("alpineSelect({ data: ()=> configuratorAlpine().selectOptionCount('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', model: '" + ("preset." + d + ".id") + "', placeholder: 'Выберите из списка' })", "preset." + d + ".count", "preset." + d + ".id")

            else
                ul.product__warranty
                    li
                        +checkbox('Стандартная гарантия 3 года ', true)
                    li
                        +checkbox('Расширенная гарантия 3 года с выездом ')
                    li
                        +checkbox('Расширенная гарантия 5 лет с выездом ')
                    li
                        +checkbox('Дополнительная опция «Невозврат носителей информации» ')

// pug/components/warranty.pug ###
