// ### pug/components/workflow.pug

section.page__section.__blue
    ul.workflow__list
        li
            .workflow__item
                .workflow__icon
                    span.ti-list-text.dm
                .workflow__text Сбор <br> требований

        li
            .workflow__item
                .workflow__icon
                    span.ti-docs.dm
                .workflow__text Составление <br> ТЗ

        li
            .workflow__item
                .workflow__icon
                    span.ti-check-square.dm
                .workflow__text Валидация <br> у&nbsp;вендера

        li
            .workflow__item
                .workflow__icon
                    span.ti-spreadsheet.dm
                .workflow__text Встреча <br> с&nbsp;вендером

        li
            .workflow__item
                .workflow__icon
                    span.ti-friends.dm
                .workflow__text Регистрация <br> проекта

        li
            .workflow__item
                .workflow__icon
                    span.ti-percent.dm
                .workflow__text Максимальные <br> скидки

        li
            .workflow__item
                .workflow__icon
                    span.ti-briefcase.dm
                .workflow__text Документы <br> для&nbsp;трендера

        li
            .workflow__item
                .workflow__icon
                    span.ti-watch.dm
                .workflow__text Поставка <br> в срок

        li
            .workflow__item
                .workflow__icon
                    span.ti-keyboard.dm
                .workflow__text Настройка <br> оборудования

        li
            .workflow__item
                .workflow__icon
                    span.ti-star.dm
                .workflow__text Гарантия <br> и&nbsp;сервис

        li
            .workflow__item
                .workflow__icon
                    span.ti-open-book.dm
                .workflow__text Обучение <br> сотрудников

// pug/components/workflow.pug ###
